.Button_minimaze{
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 14,5px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    &_color_purple{
        color: #BC9CFF;
    }
    &_color_grey{
        color: rgba(31, 32, 65, 0.5);
    }
    
}
