@import "../../utils/variables.scss";
@import "../../utils/fonts/Montserrat.scss";
.Button_minimaze{
    display: inline-block;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 14,5px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    &_color_purple{
        color: $highlight-color;
    }
    &_color_grey{
        color: $main-color_lighter;
    }
    
}
