include ../double-date-picker/double-date-picker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
mixin room-booker( {number = '', category = '', price = 0, servDesc='', servPrice = '', counter, datePicker, buttonText, day_local = 'days', perDay_local = 'per day', total_local = 'Total', discount_local = 'discount' } = { } )
  article.room-booker.js-room-booker
    section.room-booker__information
      span.room-booker__main-info
        b.room-booker__font_color_black.room-booker__font_size_middle № 
        strong.room-booker__number.js-room-booker__number.room-booker__font_color_black.room-booker__font_size_large(data-number = number)
        b.room-booker__category.js-room-booker__category.room-booker__font_color_purple.room-booker__font_size_small.room-booker__font_uppercase(data-category = category)
      span.js-room-booker__price-info.room-booker__price-info(data-price = price)
        strong.room-booker__price.js-room-booker__price.room-booker__font_color_grey.room-booker__font_size_middle
        span.room-booker__font_color_grey.room-booker__font_size_small &nbsp;&nbsp;#{perDay_local}

    section.room-booker__forms
      form(name='room-booker', action = '')
        .room-booker__calendar
          +double-date-picker( datePicker )
        .room-booker__counter
          +dropdown( counter )
    
    section.room-booker__rent-calculation
      .room-booker__rent
        span
          span.room-booker__price.js-room-booker__price
          spant &nbsp;x&nbsp;
          span.room-booker__amount.js-room-booker__amount(data-local = day_local)
        span.room-booker__rent-total.js-room-booker__rent-total
      ul.room-booker__services.js-room-booker__services(data-prices = servPrice, data-desces = servDesc, data-local = discount_local)
      .room-booker__total.js-room-booker__total.room-booker__font_color_black
        strong #{total_local}
        span.room-booker__total-filler
        strong.js-room-booker__total-price
        
    section.room-booker__button-cont
      +button({ text: buttonText, isHighlight: true, withArrow: true, type: 'submit' })
