@import "../../../utils/fonts/MaterialIcons.scss";
@import "../../../static/Icons/arrow-down.scss";
@import "../../../utils/fonts/Montserrat.scss";

.inputs-with-counter{
    width: 100%;
    position: relative;
    z-index: 10;
    & h3{
        text-transform: uppercase;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        margin: 0;
        padding: 0;
        margin-bottom: 5.5px;
        color: rgba(31, 32, 65, 1)
    }
    &__value{
        padding-left: 15px;
        width: 100%;
        line-height: 18px;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.75);
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        transition-duration: 0.7s;
        font-size: 14px;
        &::placeholder{
            color: rgba(31, 32, 65, 0.75);
            transition-duration: 0.7s;
            opacity: 1;
            font-size: 14px;
            line-height: 40px;
        }
        &:hover{
            line-height: 24px;
            color: rgba(31, 32, 65, .75);
            border: 1px solid rgba(31, 32, 65, 0.5);
            transition-duration: 0.7s;
            &::placeholder{
                color: rgba(31, 32, 65, 0.75);
                transition-duration: 0.7s;
            }
        }
    }
    &__describe{
        color: rgba(31, 32, 65, 0.5);
        padding: 0px;
        margin: 0px;
        position: absolute;
        right: 0;
        top: 0;
    };
    &__element{
        height: 44px;
        width: 100%;
        display: block;
        background-color: white;
        list-style-type: none;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        line-height: 44px;
        text-transform: uppercase;
        color: #1F2041;
        padding-left: 1.5rem;
        padding-right: 7px;
        user-select: none;
        & p{
            line-height: 44px;
            font-size: 12px;
        }
    
    };
    &__counter{
        &>span{
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            text-align: center;
            font-size: 12px;
            border-radius: 50%;
            border: 1px solid rgba(31, 32, 65, 0.50);
            color: rgba(31, 32, 65, 0.5);
            display: inline-block;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-weight: 400;
            line-height: 30px;
            vertical-align: middle;
            cursor: pointer;
            &.inputs-with-counter__number{
                border-radius: 0px;
                border: none;
                color: #1F2041;
                font-weight: bold;
                cursor: auto;
            }
            
        }
    }

    &__menu{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        position: absolute;
        top: 100%;
        left: 0%;
        font-size: 14px;
        line-height: 18px;
        border-radius: 2px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        background-color: white;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        border: 1px solid rgba(31, 32, 65, 0.5);
        z-index: 250;
    };
    &__button-delete{
        padding: 13px;
        color: rgba(31, 32, 65, 0.5);
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        display: none;
    
    }
    &___button-confirm{
        padding: 13px;
        color: #BC9CFF;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        display: none;
    }
    & .arrow-down{
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: rgba(31, 32, 65, 0.50);
    }
};
[data-counter="simple"]{
    & .inputs-with-counter__button-delete,
    & .inputs-with-counter___button-confirm{
        display: inline;
    }
}
[data-expanded='true'] .inputs-with-counter__menu{
    display: flex
}


