@import "../../../utils/fonts/MaterialIcons.scss";
@import "../../../static/Icons/arrow-down.scss";
@import "../../../utils/fonts/Montserrat.scss";

.input-with-counter{
    width: 100%;
    position: relative;
    z-index: 10;
    & h3{
        text-transform: uppercase;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        margin: 0;
        padding: 0;
        margin-bottom: 5.5px;
        color: rgba(31, 32, 65, 1)
    }
    &__value{
        padding-left: 15px;
        width: 100%;
        line-height: 18px;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.75);
        box-sizing: border-box;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        transition-duration: 0.7s;
        font-size: 14px;
        &::placeholder{
            color: rgba(31, 32, 65, 0.75);
            transition-duration: 0.7s;
            opacity: 1;
            font-size: 14px;
            line-height: 40px;
        }
        &:hover{
            line-height: 24px;
            color: rgba(31, 32, 65, .75);
            border: 1px solid rgba(31, 32, 65, 0.5);
            transition-duration: 0.7s;
            &::placeholder{
                color: rgba(31, 32, 65, 0.75);
                transition-duration: 0.7s;
            }
        }
    }
    &__describe{
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
        margin: 0px;
        position: absolute;
        right: 0;
        top: 0;
    };
    &__element{
        min-height: 30px;
        width: 100%;
        display: block;
        background-color: white;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 7px;
        padding-left: 15px;
        padding-bottom: 0;
        
        user-select: none;
        & p{
            font-weight: bold;
            text-transform: uppercase;
            color: #1F2041;
            line-height: 30px;
            font-size: 12px;
            margin: 0;
        }
    
    };
    &__counter{
        line-height: 30px;
        &>span{
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            text-align: center;
            display: inline-block;
            font-weight: 400;
            line-height: 30px;
            vertical-align: middle;
  
        }
    }
    &__tumbler{
        font-size: 18px;
        border-radius: 50%;
        border: 1px solid rgba(31, 32, 65, 0.50);
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        &_depricated{
            border: 1px solid rgba(31, 32, 65, 0.25);
            color: rgba(31, 32, 65, 0.25);
            cursor: auto;
        }
    }
    &__number{
        color: #1F2041;
        font-weight: bold;
        font-size: 12px;
    }

    &__menu{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        position: absolute;
        top: 100%;
        left: 0%;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        background-color: white;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        padding-bottom: 7px;
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        z-index: 50;
    };
    &__buttons{
        padding: 20px 7px 6px 14px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__button_delete{
        color: rgba(31, 32, 65, 0.5);
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    &___button_confirm{
        color: #BC9CFF;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    & .arrow-down{
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: rgba(31, 32, 65, 0.50);
    }
    &_simple{
        max-width: 260px;
        & .input-with-counter__buttons{
            display: none
        }
    }
};




