@import '../../scss/mixin-default-font';
@import '../../scss/variables';
@import '../../layout/layout-for-hotel.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/cellar/cellar.scss';
@import '../../blocks/pictures-demo/pictures-demo.scss';
@import '../../blocks/diagram/diagram.scss';
@import '../../blocks/room-preview/room-preview.scss';
@import '../../blocks/stickers/stickers.scss';
@import '../../blocks/review/review.scss';
@import '../../blocks/marked-list/marked-list.scss';

.room-details {
  padding-bottom: 60px;
  background-color: white;

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    max-width: 1180px;
    height: 100%;
    margin: auto;
    padding: 0 10px;
  }

  &__header {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    padding: 15px 0;
    background-color: white;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__content {
    position: relative;
    z-index: 9;
    box-sizing: border-box;
    min-width: 320px;
    margin: auto;
    padding: 0 0 75px;
    background-color: white;

    .room-details__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1440px;
      min-height: calc(100vh - 70px);
      padding: 0;

      &_slim {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1180px;
        margin-top: 70px;
        padding: 0 10px;
        @media (max-width: $breakpoint-large) {
          justify-content: stretch;
        }
      }
    }
  }

  &__footer {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    background-color: white;
    border-top: 2px solid rgba(31, 32, 65, 0.15);
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__cellar {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    background-color: white;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__heading {
    margin: 0 0 20px;
    @include default-font(
      $main-color_darkest,
      $size-larger,
      $size-largest,
      $weight: 700
    );

    &_margin_zero {
      margin: 0;
    }

    &_shift_right {
      padding-left: 21px;
    }
  }

  &__font {
    @include default-font($line: $size-largest);

    margin: 0;
  }

  &__information {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 710px;
    @media (max-width: $breakpoint-large) {
      justify-content: space-evenly;
      max-width: none;
    }
  }

  &__reviews {
    margin-top: 13px;
    margin-bottom: 10px;
    @media (max-width: $breakpoint-large) {
      max-width: 700px;
      margin: 50px 100px;
    }
    @media (max-width: $breakpoint-middle) {
      max-width: 700px;
      margin: 50px 0;
    }
  }

  &__cancel-rules {
    max-width: 345px;
    padding-right: 5px;
    text-align: left;
    @media (max-width: $breakpoint-middle) {
      margin-right: auto;
      margin-bottom: 15px;
    }
  }

  &__booking {
    @media (max-width: $breakpoint-large) {
      margin: 20px auto;
    }
  }

  &__stickers {
    @media (max-width: $breakpoint-middle) {
      margin: 0 0 20px;

      & .content__header {
        text-align: center;
      }
    }
  }

  &__diagram {
    @media (max-width: $breakpoint-middle) {
      margin: 0 0 20px;

      & .content__header {
        text-align: center;
      }
    }
  }

  &__rules {
    @media (max-width: $breakpoint-middle) {
      margin-right: auto;
      margin-bottom: 15px;
    }
  }
}
