@import '../arrow-down/arrow-down.scss';
@import '../../assets/mixin-font';
@import '../../assets/mixin_outline';
@import '../../assets/font-faces/FontAwesome.scss';

.dropping-checkboxes {
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;
  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
  }
  &__arrow {
    min-width: 44px;
    max-height: 44px;
    line-height: 44px;
    text-align: center;
  }
  &__title {
    @include default-font(
      $main-color_darkest,
      $size-small,
      44px,
      700,
      none,
      uppercase
    );

    margin: 0;
    padding: 0;
  }

  &__container {
    display: none;
    margin: 0;
    padding: 0;
    &_visible {
      display: block;
    }
  }
  &__item {
    margin-bottom: 15px;
    list-style-type: none;
  }
  &__checkbox {
    display: none;
    & + .dropping-checkboxes__label {
      @include default-font($main-color_lighter);

      display: inline-block;
      min-height: 20px;
      font-style: normal;
      letter-spacing: 0;
      text-align: left;
      background-color: white;
      user-select: none;

      &::before {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        color: $highlight-color;
        font-weight: bold;
        font-size: 11px;
        font-family: 'Font Awesome 5 Free', fantasy;
        line-height: 18px;
        text-align: center;
        vertical-align: top;
        background: linear-gradient(
          180deg,
          $highlight-color,
          $highlight-color_skew
        );
        -webkit-background-clip: text;
        border: 1px solid $main-color_lightest;
        border-radius: 4px;
        border-image: initial;
        cursor: pointer;
        content: '';
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__checkbox:checked {
    & + .dropping-checkboxes__label {
      &::before {
        border: 1px solid $highlight-color;
        content: '\f00c';
      }
    }
  }
}
