include ../../Inputs/Date-range_double/Date-range_double.pug
include ../../Inputs/Inputs-with-counter/Inputs-with-counter.pug
include ../../Buttons/Button_with_arrow/Button_with_arrow.pug

article(class="booker js-booker")
    section.booker__info-cont
        span.booker__font
            b.booker__font_black.booker__font_middle № 
            strong.booker__number.js-booker__number.booker__font_black.booker__font_large
            b.booker__category.js-booker__category.booker__font_purple.booker__font_small.booker__font_uppercase
        span
            strong.booker__price.js-booker__price.booker__font_grey.booker__font_middle
            span.booker__font_grey.booker__font_small в сутки
    section.booker__form-cont
        form(name="booker")
            div.booker__calendar
                +Date-range_double([ {placeholder: "ДД.ММ.ГГГГ", label:"прибытие", id:"finder_arrival"},{placeholder: "ДД.ММ.ГГГГ", label:"выезд", id:"finder_departure"} ])
            div.booker__counter
                +Inputs-with-counter(false, 'Гости', 'Сколько гостей', '', {name: "взрослые", min: "0", max: "5"}, {name: "дети", min: "0", max: "5"}, {name: "младенцы", min: "0", max: "5"} )
    section.booker__compute-cont
        div.booker__rent
            span.booker__font
                span.booker__price.js-booker__price
                spant &nbsp;x&nbsp;
                span.booker__amount.js-booker__amount
            span.booker__rent-total.js-booker__rent-total.booker__font
        div.booker__total.js-booker__total
            strong Итого
            span.booker__total-filler
            strong.js-booker__total-price
    section.booker__button-cont
        +Button_with_arrow('забронировать')

