mixin social({ icons = [ ] })
  span.social
    each icon in icons 
      a.social__link(href=`${icon.link}`, target='_blank', rel='noopener noreferrer')
        i.social__icon(class = `fab ${icon.class}`)
