@import "../../utils/fonts/FontAwesome.scss";
@import "../../utils/variables";

.social{
  &__link{
    text-decoration: none;
    margin:0;
    margin-left: 20px;
    text-align: center;
  }
  &__icon{
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: $highlight-color ;
  }
}