@import "../../assets/font-faces/FontAwesome.scss";
@import "../../assets//variables";

.social{
  &__link{
    text-decoration: none;
    margin:0;
    margin-left: 20px;
    text-align: center;
  }
  &__icon{
    width: 24px;
    height: 24px;
    font-size: 24px;
    background: linear-gradient(180deg, $highlight-color, $highlight-color_skew); 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}