@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/cellar/cellar.scss';
@import '../../blocks/entry-form/entry-form.scss';
@import '../../layout/layout-for-hotel.scss';

.content {
  position: relative;
  background-image: url('./img/login-background.jpg');
  background-position: bottom;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 684px;
    @media (max-width: 660px) {
      min-height: 450px;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('./img/login-background-2.jpg');
    background-position: bottom;
    opacity: 0;
    animation: sliding 20s linear 0s infinite;
    content: '';
  }
}
@keyframes sliding {
  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
