mixin Date-picker(label, placeholder, value)
    div(class=`date-picker`)
        include ../../Icons/arrow-down.pug 
        label(style="font-weight:bold") #{label}
            - if(value)
                input(class="date-picker_value" placeholder=`${placeholder}` value=`${value}`)
            - else
                input(class="date-picker_value" placeholder=`${placeholder}`)