include ../../utils/forUI-kit/colorIcon.pug
include ../../utils/forUI-kit/fontIcon.pug
include ../../blocks/text-field/text-field.pug
include ../../blocks/input-with-counter/input-with-counter.pug
include ../../blocks/dmy-mask/dmy-mask.pug
include ../../blocks/date-picker/_double/date-picker_double.pug
include ../../blocks/date-picker/date-picker.pug
include ../../blocks/text-field/_with/text-field_with_arrow-right/text-field_with_arrow-right.pug
include ../../blocks/checkboxes/checkboxes.pug
include ../../blocks/radios/radios.pug
include ../../blocks/tumblers/tumblers.pug
include ../../blocks/liker/liker.pug
include ../../blocks/rate-stars/rate-stars.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/button-rounded/button-rounded.pug
include ../../blocks/button-minimaze/button-minimaze.pug
include ../../blocks/dropping-checkboxes/dropping-checkboxes.pug
include ../../blocks/subscribed-checkboxes/subscribed-checkboxes.pug
include ../../blocks/paginator/paginator.pug
include ../../blocks/marked-list/marked-list.pug
include ../../blocks/stickers/stickers.pug
include ../../blocks/reviews/reviews.pug
include ../../blocks/header/header.pug 
include ../../blocks/footer/footer.pug
include ../../blocks/cellar/cellar.pug
include ../../blocks/card/card.pug
include ../../blocks/number-demo/number-demo.pug 

- let img1 = require('./img/image-1.jpg').default
- let img2 = require('./img/image.jpg').default
- let img3 = require('./img/image-7.jpg').default
- let img4 = require('./img/image-5.jpg').default
- let img5 = require('./img/image-3.jpg').default

div.ui-kit-container
    section.colors-and-type 
        include ../../static/Images/logo.img.svg
        section.colors-container 
            +colorIcon('#1F2041', "Dark Shade 100%", 1)
            +colorIcon('#1F2041', "Dark Shade 75%", 0.75)
            +colorIcon('#1F2041', "Dark Shade 50%", 0.5)
            +colorIcon('#1F2041', "Dark Shade 25%", 0.25)
            +colorIcon('#1F2041', "Dark Shade 5%", 0.05)
            +colorIcon('#BC9CFF', "Purple")
            +colorIcon('#6FCF97', "Green")    
        section.fonts-container
            +fontIcon('H1', 'Montserrat', '24px', '700', '30px', 'none', 'This one is the sub-section or widget title' )
            +fontIcon('H2', 'Montserrat', '19px', '700', '24px', 'none', 'Next one is the item title inside widgets' )
            +fontIcon('H3', 'Montserrat', '14px', '700', '15px', 'uppercase' , 'This is a label or CTA text.')
            +fontIcon('Body', 'Montserrat', '14px', '400', '24px', 'none', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', '0.75')

    section.forms
        include ../../static/Images/logo.img.svg
        section.forms-fields-wrapper
            div.textfield-container 
                +Text-field('text field', 'Email', 'default')
            div.textfield-active-container 
                +Text-field('text field', 'Email', 'hover/focus')
            div.input-with-counter-container 
                +Inputs-with-counter(false,'Гости', 'Сколько гостей', '',{name: "взрослые", min: "0", max: "5", base: "2"}, {name: "дети", min: "0", max: "5", base: "1"}, {name: "младенцы", min: "0", max: "5", base: "1"} )
            div.input-with-mask-container 
                +Dmy-mask("masked text field", "ДД.ММ.ГГГГ", '')
            div.double-range-calendar-container
                +Date-picker_double({placeholder: "ДД.ММ.ГГГГ", label:"date Dropdown", id:"finder_arrival"}, {placeholder: "ДД.ММ.ГГГГ", label:"date Dropdown", id:"finder_departure"})
            div.range-calendar-container 
                +Date-picker("filter date dropdown", "Выберете период", "", "period001")
            div.field-with-arrow-container 
                +Text-field_with_arrow-right('subscription text field', "Email")
        section.forms-checkers-wrapper
            div.default-checkboxes-container
                +Checkboxes('правила дома', {name:'Можно курить', id:'chd_t001'}, {name:'Можно с питомцами', id:'chd_t002', checked:"true"},{name:'Можно пригласить гостей (до 10 человек)', id:'chd_t003', checked:"true"})
            div.radios-container
                +Radios('radio buttons', 'sex', {id:'genderMan', describe:'Мужчина', checked:true},{id:'genderFem', describe:'Женщина'} )
            div.tumblers-container 
                +Tumblers('toggle', {id:'allowOfferts', name:'Получать спецпредложения', checked: true})
                +Tumblers('', {id:'allowOfferts-disable', name:'Получать спецпредложения'})
            div.likers-container 
                +Liker('like button', {id:"like001", am: 2},{id:"like002", am: 12, checked:true})
            div.start-container 
                +Rate-stars('rate button', 4, [0.0])
                +Rate-stars('', 5)
        section.forms-buttons-wrapper
            div.range-slider-container 
                +Range-picker("range slider", "")
            div.buttons-container
                h3 buttons 
                .rounded-button-container 
                    +Button-rounded('click me', ['purple'])
                .rounded-button-container
                    +Button-rounded('click me', ['purple-depr'])
                .rounded-button-container
                    +Button-rounded('click me', ['empty'])
                .rounded-button-container
                    +Button-rounded('click me', ['empty-depr'])
                br
                span.simple-button-container
                    +Button_minimaze('click me', 'purple')
                span.simple-button-container
                    +Button_minimaze('click me', 'grey')
            div.large-button-container 
                +Button-rounded("перейти к оплате", ['purple'], 'arrow') 
            div.pages-switcher-container 
                h3 pagination
                +Paginator(15)

        div(style="width: 100%; height:100px")

        section.forms-dropdowns-wrapper
            section
                div.default-input-drop-container 
                    +Inputs-with-counter('simple', "dropdown", 'Выберете комплектацию', 'default', false, {name: "спальни", min: "0", max: "5"}, {name: "кровати", min: "0", max: "5"}, {name: "ванные комнаты", min: "0", max: "5"} )

                div.expand-input-drop-container 
                    +Inputs-with-counter('simple', "dropdown", 'Выберете комплектацию', 'expanded', false, {name: "спальни", min: "0", max: "5"}, {name: "кровати", min: "0", max: "5"}, {name: "ванные комнаты", min: "0", max: "5"} )
            section
                div.expand-input-drop-container
                    +Inputs-with-counter(false,'Гости', 'Сколько гостей', '', false, {name: "взрослые", min: "0", max: "5"}, {name: "дети", min: "0", max: "5"}, {name: "младенцы", min: "0", max: "5"} )
            section
                div.expand-input-drop-container
                    +Inputs-with-counter(false,'Гости', 'Сколько гостей', '', false, {name: "взрослые", min: "0", max: "5"}, {name: "дети", min: "0", max: "5"}, {name: "младенцы", min: "0", max: "5"} )

        section.forms-check-blockes-wrapper
            section
                div.dropping-checkboxes-container 
                    +Dropping-checkboxes('expandable checkbox list', {name:'Завтрак', id:'ch_t001'},{name:'Письменный стол', checked:"true", id:'ch_t002'},{name:'Стул для кормления', checked:"true", id:'ch_t003'},{name:'Кроватка', checked:"true", id:'ch_t004'},{name:'Телевизор', id:'ch_t005'},{name:'Шампунь', id:'ch_t006'},{name:'Телевизор', id:'ch_t007'},{name:'Шампунь', id:'ch_t008'})   
                div.dropped-checkboxes-container
                    +Dropping-checkboxes('expandable checkbox list', {name:'Завтрак', id:'ch_t001-2'},{name:'Письменный стол', checked:"true", id:'ch_t002-2'},{name:'Стул для кормления', checked:"true", id:'ch_t003-2'},{name:'Кроватка', checked:"true", id:'ch_t004-2'},{name:'Телевизор', id:'ch_t005-2'},{name:'Шампунь', id:'ch_t006-2'},{name:'Телевизор', id:'ch_t007-2'},{name:'Шампунь', id:'ch_t008-2'})   
            section
                dev.checkboxes-with-describe-container 
                    +Subscribed-checkboxes('rich Checkbox Buttons', {id:'chdisc_t001', name:'Широкий коридор', desc:'Ширина коридоров в номере не менее 91 см.'}, {id:'chdisc_t002', name:'Помощник для инвалидов', desc:'На 1 этаже вас встретит специалист  и проводит до номера.'})
            section 
                div.bullets-container
                    h3 Правила
                    +Marked-list("Нельзя с питомцами")
                    +Marked-list("Без вечеринок и мероприятий")
                    +Marked-list("Время прибытия — после 13:00, а выезд до 12:00")
        section.reviews-wrapper
            div.stickers-container 
                +Stickers({icon: "insert_emoticon", describe: "Комфорт", subscribe: "Шумопоглощающие стены"}, {icon: "location_city", describe: "Удобство", subscribe: "Окно в каждой из спален"} )
            div.review-wrapper 
                +Reviews 

    section.cards 
        include ../../static/Images/logo.img.svg
        section   
            div.find-form-container
                include ../../blocks/number-finder/number-finder.pug
            div.registration-form-container 
                include ../../blocks/registration/registration.pug
        section
            div.number-booker-container
                include ../../blocks/number-booker/number-booker.pug
            div.entry-form-container
                include ../../blocks/entry-form/entry-form.pug
        section 
            div.expended-calendar-container 
            div.number-demonstration-container
                +Number-demo(888, "люкс", 9990, 5, 145,  [img1, img3, img5, img4])
                +Number-demo(840, "", 9900, 4, 65,  [img2,img4,img5,img1])
    section.headers-and-footers
        include ../../static/Images/logo.img.svg
        section.header-container 
            .wrapper
                +Header(false, {name: "О нас", href:"/about_us/"},{name: "Услуги", blocks:[{href:"/services1/", name:"Some"},{href:"/services3/", name:"Some else"}, {href:"/services3/", name:"Nevermind"} ]}, {name: "Вакансии", href:"/list/" },{name: "Новости", href:"/news/" },{name: "Соглашения", blocks:[{href:"/convience1/", name:"Some"},{href:"/convience2/", name:"Some else"} ]} )
        section.header-container.header-autorized-container
            .wrapper 
                +Header("Юлий Цезарь", {name: "О нас", href:"/about_us/"},{name: "Услуги", blocks:[{href:"/services1/", name:"Some"},{href:"/services3/", name:"Some else"}, {href:"/services3/", name:"Nevermind"} ]}, {name: "Вакансии", href:"/list/" },{name: "Новости", href:"/news/" },{name: "Соглашения", blocks:[{href:"/convience1/", name:"Some"},{href:"/convience2/", name:"Some else"} ]} )
        section.footer-container 
            .wrapper
                +Footer("Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»", {caption:"Навигация", links:[{href: "/about/",desc: "О нас"},{href: "/news/",desc: "Новости"},{href: "/support/",desc: "Служба поддержки"},{href: "/services/",desc: "Услуги"} ]}, {caption:"О нас", links:[{href: "/about_service/",desc: "О сервисе"},{href: "/team/",desc: "Наша команда"},{href: "list/",desc: "Вакансии"},{href: "/investors/",desc: "Инвесторы"} ]}, {caption:"Служба поддержки", links:[{href: "/convience/",desc: "Соглашения"},{href: "/comm/",desc: "Сообщества"},{href: "/connection/",desc: "Связь с нами"} ]})
        section.cellar-container 
            .wrapper
                +Cellar("Copyright © 2018 Toxin отель. Все права зачищены.", [{link: "/twit/", class: "fa-twitter"}, {link:"/fb/", class: "fa-facebook-square"}, {link:"/inst/", class: "fa-instagram"}])
        section.card-container 
            .slim-wrapper
                +Card("Copyright © 2018 Toxin отель. Все права зачищены.", [{link: "/twit/", class: "fa-twitter"}, {link:"/fb/", class: "fa-facebook-square"}, {link:"/inst/", class: "fa-instagram"}])


