@import '../../layout/layout-for-hotel.scss';
@import '../../blocks/color-icon/color-icon.scss';
@import '../../blocks/font-icon/font-icon.scss';
@import '../../blocks/textfield/textfield.scss';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/date-masked-textfield/date-masked-textfield.scss';
@import '../../blocks/double-date-picker/double-date-picker.scss';
@import '../../blocks/date-picker/date-picker.scss';
@import '../../blocks/checkboxes/checkboxes.scss';
@import '../../blocks/checkbox/checkbox.scss';
@import '../../blocks/radios/radios.scss';
@import '../../blocks/tumblers/tumblers.scss';
@import '../../blocks/liker/liker.scss';
@import '../../blocks/rate-stars/rate-stars.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/link/link.scss';
@import '../../blocks/pagination/pagination.scss';
@import '../../blocks/marked-list/marked-list.scss';
@import '../../blocks/stickers/stickers.scss';
@import '../../blocks/review/review.scss';
@import '../../blocks/entry-form/entry-form.scss';
@import '../../blocks/registration-form/registration-form.scss';
@import '../../blocks/room-preview/room-preview.scss';
@import '../../blocks/room-searcher/room-searcher.scss';
@import '../../blocks/range-picker/range-picker.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/cellar/cellar.scss';
@import '../../blocks/card/card.scss';
@import '../../blocks/room-demo/room-demo.scss';
@import '../../scss/mixin-default-font';
@import '../../scss/mixin_outline';

/* stylelint-disable no-descending-specificity */

.ui-kit {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    column-gap: 40px;
    background: #e5e5e5;
    row-gap: 40px;
  }

  &__logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__heading {
    @include default-font(
      $main-color_darkest,
      $size-small,
      $size-small + 4,
      700,
      none,
      uppercase
    );

    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }

  &__styles-demo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 1440px;
    min-height: 900px;
    margin: 25px;
    padding: 145px 0 0;
    background-color: #fff;
  }

  &__colors {
    margin-bottom: 20px;
    padding-right: 10px;
  }

  &__fonts {
    padding-left: 10px;
  }

  &__forms {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1440px;
    margin: 25px;
    padding: 143px 120px 132px;
    background-color: #fff;
    row-gap: 100px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 320px;
    row-gap: 20px;

    &_horizontal {
      flex-direction: row;
      width: 100%;
      column-gap: 180px;
    }
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    width: 320px;
    row-gap: 20px;

    &_horizontal {
      flex-direction: row;
      width: 100%;
      column-gap: 180px;
    }
  }

  &__interactive-elements {
    display: flex;
    flex-direction: column;
    width: 320px;
    row-gap: 30px;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    width: 225px;
    column-gap: 20px;
    row-gap: 30px;
  }

  &__button {
    width: 99px;

    &_large {
      width: 100%;
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
    column-gap: 158px;
  }

  &__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 1440px;
    max-height: 1400px;
    padding: 140px;
    background: #f4f4f6;
    row-gap: 40px;
  }

  &__components {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1440px;
    max-height: 1400px;
    padding: 140px 0;
    background: #f4f4f6;
    row-gap: 40px;
  }

  &__header {
    width: 100%;
    padding: 15px 0;
    background-color: white;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__footer {
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__cellar {
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__wrapper {
    width: 100%;
    max-width: 1160px;
    margin: auto;
    @media (max-width: 1160px) {
      padding: 0 10px;
    }
  }

  &__mini-footer {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
}
