@import "../../Icons/filling-star.scss";

.Number-demonstration{
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    background: inherit;
    justify-content: space-between;
    &__item{
        margin-top: 20px;
        background-color: white;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        & h3{
            font-style: normal;
            font-weight: normal;
            text-transform: none;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
        }
    }
    &__image-cont{
        position: relative;
        &>img{
            display: none;
            opacity: 0;
            transition-duration: 0.7s;
            &.Number-demonstration__img_active{
                display: block;
                opacity: 1;
                transition-duration: 0.7s;
            }
        }
        &:hover{
            &::after{
                transition-duration: 0.7s;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width:42px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            }
            &::before{
                transition-duration: 0.7s;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width:42px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }
            & .Number-demonstration__arrow{
                display: block;
                transition-duration: 0.7s;
            }
        }
    }
    &__arrow{
        font-size: 24px;
        line-height: 44px;
        position: absolute;
        width: 44px;
        height: 44px;
        text-align: center;
        color: rgba(31, 32, 65, 0.5);
        z-index:  20;
        color: white;
        cursor: pointer;
        top:50%;
        transform: rotate(90deg) translateX(-50%);
        user-select: none;
        display: none;
        transition-duration: 0.7s;
        &:nth-child(2){
            right:0;
        }
    }
    &__buttons{
        position: absolute;
        bottom: 15px;
        right: 35px; 
        transform: translateX(50%);
    }
    &__button{
        display: inline-block;
        width: 7.5px;
        height: 7.5px;
        border-radius: 50%;
        border: 1px solid white;
        box-sizing: border-box;
        cursor: pointer;
        transition-duration: 0.4s;
        &_state_active{
            background-color: white;
            transition-duration: 0.4s;
        }
        &+span{
            margin-left: 4px;
        }
    }

    
    &__price{
        padding: 20px 0px 10px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 20px;
        margin-right: 20px;
        & span>*{
            line-height: 20px !important;
            display: inline;
            &h1{
                font-size: 18px;
            }
        }

    }
    &__rate{
        padding: 8px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 24px;
        & h3, h4{
            font-size: 14px;
            display: inline;
        }
    }
    &__stars{
        height: 24px;
    }
}