include ../arrow/arrow.pug

mixin button({ text = '', isHighlight = false, isLow = false,  withArrow = false, type = 'button' })
  button(class=`button${ isHighlight ? ' button_colorized' : '' }${ isLow ? ' button_low' : '' }`, type = type) 
    span.button__text #{text}
    if withArrow
      span.button__arrow
        +arrow({ direction: 'right' })
