include ../arrow/arrow.pug
mixin button({ text='', styles=[], type='button', withArrow = false }={})

  - let classes = ""
  each style in styles 
    - classes += `button_${style} `;

  button(class=`button ${classes}` type = type) 
    span.button__text #{text}
    if withArrow
      span.button__arrow
        +arrow({ direction: 'right' })