@import '../../assets/mixin-font';
@import '../arrow-right/arrow-right.scss';
.button {
  @include default-font(
    $size: $size-small,
    $line: 44px,
    $weight: 700,
    $transform: uppercase
  );

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 100%;
  height: 44px;
  text-align: center;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  user-select: none;
  &__text {
    position: relative;
    z-index: 1;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    min-width: 44px;
    max-height: 24px;
    line-height: 24px;
    text-align: center;
    transform: translateY(-50%);
  }
  &_color_purple {
    color: white;
    background: linear-gradient(
      180deg,
      $highlight-color 0%,
      $highlight-color_skew 100%
    );

    &:hover {
      background: linear-gradient(
        180deg,
        $highlight-color_depr 0%,
        $highlight-color_skew_depr 100%
      );
    }
  }
  &_color_empty {
    color: $highlight-color;
    background: linear-gradient(
      180deg,
      $highlight-color 0%,
      $highlight-color_skew 100%
    );

    &::after {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      z-index: 0;
      background-color: white;
      border-radius: 20px;
      content: '';
    }
    &:hover {
      background: linear-gradient(
        180deg,
        $highlight-color_depr 0%,
        $highlight-color_skew_depr 100%
      );
    }
  }

  &_height_low {
    height: 34px;
    line-height: 34px;
  }
}
