.pictures-demo {
  display: flex;
  max-height: 485px;
  user-select: none;

  &__large-picture-container {
    display: inline-flex;
    flex-shrink: 1;
  }

  &__small-pictures-container {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 1;
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }
}
