@import '../../scss/mixin-montserrat-font';
@import '../../scss/mixin-mi-font';

.liker {
  $block: &;

  display: inline-block;
  text-align: center;

  &__head {
    margin: 0;
    margin-bottom: 15px;
    @include montserrat-font();

    color: $main-color_darkest;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 4;
    text-transform: uppercase;
  }

  &__item {
    text-align: center;

    & + #{$block}__item {
      margin-left: 10px;
    }
  }

  &__box {
    display: none;

    & + #{$block}__label {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      min-width: 40px;
      min-height: 20px;
      padding-right: 5px;
      padding-left: 20px;
      @include montserrat-font();

      color: $main-color_lightest;
      font-size: $size-small -2;
      line-height: 20px;
      line-height: $size-larger + 1;
      text-align: left;
      background-color: $main-color_lightest;
      border-radius: 10px / 50%;
      cursor: pointer;
      transition-duration: 0.5s;
      user-select: none;

      &::after {
        position: absolute;
        left: 5px;
        display: inline-block;
        vertical-align: middle;
        transition-duration: 0.2s;
        content: 'favorite_border';
        @include mi-font($size: $size-small - 2);
      }

      &::before {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background: white;
        border-radius: 9px / 50%;
        content: '';
      }
    }
  }

  &__box:checked {
    & + #{$block}__label {
      display: inline-block;
      color: $bright-color;
      background: $gradient_purple;
      transition-duration: 0.5s;

      &::after {
        transition-duration: 0.2s;
        content: 'favorite';
      }
    }
  }

  &__counter {
    position: relative;
    z-index: 5;
  }
}
