@import "../../utils/_mixin-font.scss";

.liker{
    display: inline-block;
    text-align: center;
    &__head{
        @include default-font($main-color_lightest, $size-small, $size-small+4, 700,none, uppercase);
        margin: 0;
        margin-bottom: 15px;
    }
    
    &__box{
        display: none;
        & + .liker__label{ 
            text-align: right;
            width: 40px;
            height: 20px;
            display: inline-block;
            position: relative;
            border: 1px solid $main-color_lightest;
            cursor: pointer;
            border-radius: 25% / 50%;
            transition-duration: 0.5s;
            text-align:end;
            padding-right: 10px;
            box-sizing: border-box;
            @include default-font($color: $main-color_lightest, $size: $size-small - 2);
            &::before {
                display: inline-block;
                content: "favorite_border";
                font-family: 'Material Icons';
                color: $main-color_lightest;
                line-height: $default-line;
                position: absolute;
                left: 5px;
                transition-duration: 0.5s;
                vertical-align: middle;
            }
    
        }
    
    }
    &__box:checked{ 
        
        & + .liker__label{ 
            color: #c2c2c2;
            border: 1px solid  $highlight-color;
            transition-duration: 0.5s;
            display: inline-block;
            &::before {
                content: "favorite";
                color: $highlight-color;
                transition-duration: 0.5s;
            }
        }
    
    }
    &__item{
        text-align: center;
        & + .liker__item{
            margin-left: 10px;
        }
    }
    
}



