
.liker{
    display: inline-block;
    text-align: center;
    &__head{
        text-transform: uppercase;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        margin: 0;
        margin-bottom: 15px;
        color: rgba(31, 32, 65, 1);  
    }
    
    &__box{
        display: none;
        & + .liker__label{ 
            text-align: right;
            width: 40px;
            height: 20px;
            display: inline-block;
            font-size: 10px;
            position: relative;
            border: 1px solid rgba(31, 32, 65, 0.25);
            color: rgba(31, 32, 65, 0.25);
            cursor: pointer;
            border-radius: 25% / 50%;
            transition-duration: 0.5s;
            line-height: 18px;
            text-align:end;
            padding-right: 10px;
            box-sizing: border-box;
            &::before {
                display: inline-block;
                line-height: 18px;
                content: "favorite_border";
                font-family: 'Material Icons';
                color: rgba(31, 32, 65, 0.25);
                position: absolute;
                left: 5px;
                transition-duration: 0.5s;
                vertical-align: middle;
                
    
            }
    
        }
    
    }
    &__box:checked{ 
        
        & + .liker__label{ 
            color: #c2c2c2;
            border: 1px solid  #BC9CFF;
            transition-duration: 0.5s;
            display: inline-block;
            &::before {
                content: "favorite";
                color: #BC9CFF;
                transition-duration: 0.5s;
            }
        }
    
    }
    &__item{
        text-align: center;
        & + .liker__item{
            margin-left: 10px;
        }
    }
    
}



