mixin Text-field(label, placeholder, describe)
    div(class=`text-field`)
        label(class="text-field__label")
            if label
                h3  #{label}
            input(class="text-field__value" placeholder=`${placeholder}`) 
        p(class="text-field__describe") #{describe}
        