mixin PageSwitch(totalamount, amountOnPage)
    - let page = Math.ceil(totalamount/amountOnPage)
    .PageSwitch-cont(data-amountonpage=`${amountOnPage}`, data-totalamount=`${totalamount}`)
        div(style="display: inline; margin-bottom: 10.5px")
            - for(let x= 0; x < page; x++)
                - let y = x+1
                span.PageSwitch-cell #{y}
        span.PageSwitch-arrow 
            include ../Icons/arrow-right_blue.pug
        p.PageSwitch-text