mixin stickers( {issues=[]}={})
  article.stickers
    ul.stickers__list
      each sticker in issues
        li(class="stickers__item")
          span.stickers__img #{sticker.icon}
          span.stickers__text
            strong.stickers__describe #{sticker.describe}
            p.stickers__subscribe #{sticker.subscribe}