@import "../../utils/fonts/MaterialIcons.scss";
@import "../../utils/_mixin-font.scss";
.stickers{
    min-width: 280px;
    &__header{
        @include default-font($main-color_darkest, $size-larger, $size-largest, 700);
        margin: 0;
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__item{
        padding: 23px 0 17px;
        &:not(:last-child){
            border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        }
    }
    &__img{
        font-family: 'Material Icons';
        width: 48px;
        height: 48px;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        vertical-align: middle;
        color: $highlight-color;
        margin-right: 10px;
    }
    &__text{
        display: inline-block;
        vertical-align: middle;
    }
    &__describe{
        @include default-font($line: $size-largest, $weight: 700);
        margin: 0;
    }
    &__subscribe{
        @include default-font($line: $size-largest);
        margin: 0;

    }
}
