@import '../arrow/arrow.scss';
@import '../../scss/mixin-montserrat-font';

.pagination {
  $block: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  @include montserrat-font($main-color_lighter, $size-small, 40px, none, none);

  &__buttons-list {
    display: inline;
    margin: 0;
    margin-bottom: 10.5px;
    padding: 0;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    height: 100%;
    color: $main-color_lighter;
    text-decoration: none;
    border-radius: 50%;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $main-color_lightest inset;
    }
  }

  &__button {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;

    &_type_arrow {
      background: $gradient_green;

      & #{$block}__link {
        color: white;
      }
    }

    &_active {
      background: $gradient_purple;

      & #{$block}__link {
        color: white;
      }
    }

    &_hidden {
      display: none;
    }
  }

  &__ellipsis {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
  }

  &__text {
    margin: 0;
    color: $main-color;
    line-height: $size-largest;
    text-align: center;
  }
}
