@import "../../utils/fonts/Montserrat.scss";
@import "../Blocks/Number-demonstration/Number-demonstration.scss";
.pages-switcher{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 40px;
    max-width: 320px;
    margin: auto;
    &>*{
        vertical-align: middle;
        line-height: 40px;
    }
    &__cell-container{
        display: inline; 
        margin-bottom: 10.5px;
    }
    &__cell{
        width: 40px;
        height: 40px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        user-select: none;
        &_active{
            border-radius: 50%;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            color: white;
        }
        &_ell{
            width: 40px;
            height: 40px;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-size: 12px;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            color: rgba(31, 32, 65, 0.5);
            cursor: pointer; 
            user-select: none;
        }
    }

    &__arrow {
        position: relative;
        user-select: none;
        & .arrow-right_blue{
            position: absolute;
            width: 40px;
            height: 40px;
            text-align: center;
            left:0;
            bottom :0;
            & i{
                color: white;
                line-height: 40px;}
        }
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    };
    &__text{
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 14px;
        width: 100%;
        margin: 10.5px 0 0;
        line-height: 20px;
        color: rgba(31, 32, 65, 0.75);
        text-align: center;
    }
}


