mixin Pages-switcher(totalamount, amountOnPage)
    - let page = Math.ceil(totalamount/amountOnPage)
    .pages-switcher(data-amountonpage=`${amountOnPage}`, data-totalamount=`${totalamount}`)
        div.pages-switcher__cell-container
            - for(let x= 0; x < page; x++)
                - let y = x+1
                span.pages-switcher__cell #{y}
        span.pages-switcher__arrow 
            include ../../static/Icons/arrow-right_blue.pug
        p.pages-switcher__text