include ../../../Inputs/Date-range_double/Date-range_double.pug
include ../../../Inputs/Inputs-with-counter/Inputs-with-counter.pug
include ../../../Buttons/Button_rounded/ButtonWithArrow/ButtonWithArrow.pug

mixin NumberFinder_type_double(id, ...props)
    form
        div(class="NumberFinderCont")
            h1(style="max-width:320px") Найдём номера под ваши пожелания
            form(name="NumberFinderDouble")
                div(style="display:flex; justify-content: flex-start; margin-top:20px")
                    +Date-range_double(props)
                div(style="margin-bottom: 10px" data-counter="simple")
                    +Inputs-with-counter('', 'Сколько гостей', '',{name: "взрослые", min: "0", max: "5", base: "2"}, {name: "дети", min: "0", max: "5", base: "1"}, {name: "младенцы", min: "0", max: "5", base: "0"} )
                +ButtonWithArrow('подобрать номер')

