@import '../../Icons/arrow-right_blue.scss';

.Field-with-arrow{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14.5px;
    width: 267px;
    position: relative;
    margin-bottom: 2rem;
    & .arrow-right_blue{
        top: 20px;
        right: 0;
    }
};
.TextFieldDescribe{
    color: rgba(31, 32, 65, 0.5);
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
};
.Field-with-arrow-value{
    width: 100%;
}

label{
    display: block;
}
