section
  .wrapper-for-slider.first_wrapper
    include ./panel.pug
    div Контейнер под слайдер
  .wrapper-for-slider.second_wrapper
    include ./panel.pug
    div Контейнер под слайдер(2)
  .wrapper-for-slider.third_wrapper
    include ./panel.pug
    div.for_vertical Контейнер под слайдер(3)
  .wrapper-for-slider.fourt_wrapper
    include ./panel.pug
    div Контейнер под слайдер(4)
