.wrapper-for-slider{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: rgb(232, 243, 223);
    margin: auto;
    justify-content: stretch;
    align-content: stretch;
    & > *{
        display: inline-block;
        vertical-align: middle;
    }
    & p{
        margin: 0;
        font-weight: 700;
    }
    & form{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        & input{
            border-radius: 10%;
        }
    }
    & .panel{
        box-sizing: border-box;
        height: 100%;
        width: 400px;
        border: 10px solid rgb(180, 201, 124);
        & div{
            width: 50%;
            display: inline-block;
            border: 1px dotted rgb(204, 174, 119);
            box-sizing: border-box;
            padding: 5px 5px 10px ;
            &:last-child{
                width: 100%;
                text-align: center;
                border: 0;
            }
            &.value-enter-container{
                border: 0;
                
            }
        }
    }
    &>:not(.panel){
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin: 100px 10px;
        flex-grow: 1;
        box-shadow: 2px 2px 125px -66px rgb(103, 139, 110);
        border-radius: 15px;
        &.for_vertical{
          width: 40px;
          padding: 10px 0;
          margin: 10px 100px;
          justify-content: center;
        }
    }
}
.values-enter-button{
    display: inline-block;
    height: 30px;
    width: 250px;
    line-height: 30px;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: rgb(212,75,56);
    &:hover{
        background: rgb(232,95,76)
    }
    &:active{
        background: rgb(152,15,0)
    }
}