.range-slider{
    display: flex;
    &_for_vertical{
        height: 100%;

    }
    &_for_horizontal{
        width: 100%;
        flex-direction: column;
    }
    &__line{
        background-color: rgb(244, 255, 255);
        border-radius: 10px;
        display: inline-block;
        position: relative;
        &_for_vertical{
            width: 16px;
            height: 100%;
        }
        &_for_horizontal{
            height: 16px;
            width: 100%;
        }
    }
    &__tumbler{
        position: absolute;   
        z-index: 11;
        cursor: pointer; 
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        background-color: rgb(54, 157, 134);
        border-radius: 50%;
        &_for_vertical{
            left: 50%;
            transform: translate(-50%, 50%);
        }
        &_for_horizontal{
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__cloud{
        position: absolute;
        display: inline-block;
        border-radius: 30%;
        border : 2px solid rgb(54, 157, 134);
        background: rgb(107, 192, 174);
        color: white;
        box-sizing: border-box;
        min-width: 45px;
        height: 45px;
        text-align: center;
        line-height: 41px;
        font-size: 20px;
        user-select: none;
        &::after{
            content: '';
            height: 0px;
            width: 0px;
            position: absolute;
            border : 6px solid ;
        }
        &_for_vertical{
            right: 130%; 
            top: 50%;
            transform: translateY(-50%); 
            &::after{
                left: 42px;
                top: 50%;
                transform: translateY(-50%);
                border-color:  transparent transparent transparent rgb(54, 157, 134);
            }
        }
        &_for_horizontal{
            bottom: 130%;  
            left: 50%;
            transform: translateX(-50%);
            &::after{
                top: 42px;
                left: 50%;
                transform: translateX(-50%);
                border-color:  rgb(54, 157, 134) transparent transparent transparent;
            }
    
        }
    }
    &__selected{  
        position: absolute;
        display: inline-block;
        z-index: 10;
        border-radius: 10px;
        background-color: rgb(107, 192, 174);
        &_for_vertical{
            left: 50%;
            transform: translateX(-50%);
            width: 22px;
        }
        &_for_horizontal{
            top: 50%;
            transform: translateY(-50%);
            height: 22px;
        }
    }
    &__scale{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &_for_vertical{
            height: 100%;
            flex-direction: column-reverse;
            padding: 0 0 0 5px;
            width: 10px;
        }
        &_for_horizontal{
            width: 100%;
            display: flex;
            padding: 5px 0 0 0;
            height: 10px;
        }
        
    }
    &__cell{
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        color: rgb(107, 192, 174);
        font-size: 18px;
        & .range-slider__scale-value{
            position: absolute;
            cursor: pointer;
            user-select: none;
        }
        &_for_vertical{
            border-bottom:  1px solid rgb(107, 192, 174);
            width: 20px;
            & .range-slider__scale-value{
                top: 100%;
                left: 100%;
                transform: translateY(-50%);
                padding-left: 5px;
            }
        }
        &_for_horizontal{
            border-left:  1px solid rgb(107, 192, 174);
            height: 20px;
            & .range-slider__scale-value{
                top: 100%;
                transform: translateX(-50%);
            }
        }
        &_status_active{
            border-color: rgb(54, 157, 134);
            color:  rgb(54, 157, 134);
            font-size: 24px; 
            border-width: 1px;
        }
    }
}