

.Menu{
    margin-left: 15px;
    background-color: white;
    & a{
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
        &:hover{
            color: rgba(31, 32, 65, 0.75);
        }
    }
    & .LogoConteiner{
        min-width: 110px;
        
        &>*{
            vertical-align: middle;
        }
        & :first-child{
            margin-right: 10px;       
        }
        
        
    }
    &>*{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 15px;
        margin-top: 15px;
        

    }
    & .Menu__element{
        position: relative;
        cursor: pointer;
        margin-left: 20px;
        &>*:not(.Menu__element_type_submenu){
            vertical-align: middle;
            line-height: 20px;
            height: 20px;
            
        }
        
        &_type_login{
            padding-left: 20px;
            border-left: 1px solid rgba(31, 32, 65, 0.25);
        }
        &_type_dropping{
            position: relative;
            
            &-active{
                &>a{
                color: rgba(31, 32, 65, 0.75);}
            }
            & .arrow-down{
                position: static;
                font-size: 14px;
                display: inline-block;
                width: 24px;
                text-align: center;
                margin-left: -2.5px;
                & i{
                    line-height: 21px;
                    font-size: 24px;
                    text-align: center;
                }
                
            }
            &>*{
                vertical-align: bottom;
            }
            & .Menu__element_type_submenu{
                display: none;
                position: absolute;
                top: 100%;
                width: calc(100% + 25px);;
                right: 0;
                background: white;
                border-left: 1px solid rgba(31, 32, 65, 0.25);
                border-right:  1px solid rgba(31, 32, 65, 0.25);
                border-bottom:  1px solid rgba(31, 32, 65, 0.25);
                &-active{
                    display: block;
                    background: rgb(224, 220, 220);
                    z-index: 100;
                }
                & a{
                   min-height: 24px;
                   line-height: 24px;
                   border-top:  1px solid rgba(31, 32, 65, 0.25);
                   display: block;
                   text-align: center;
                   
                }
                & div{
                    margin-left: 0;
                }
            }   
        }
    }
}