mixin Diogram(id)
    div(class="Diogram")
        div.Diogram__image
            div(class="Diogram__title")
                h2
                p
            canvas(width="120px" height="120px" id=`${id}` class="Diogram__canvas" )
        div.Diogram__legend
            div(class="Diogram__item")
                span 
                p Великолепно
            div(class="Diogram__item" )
                span 
                p Хорошо
            div(class="Diogram__item")
                span 
                p Удовлетворительно           
            div(class="Diogram__item" ) 
                span 
                p Разачарован