@import '../social/social.scss';
@import '../../scss/mixin-font';

.cellar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 70px;
  background-color: white;

  &__sign {
    display: none;
  }

  &__text {
    @include default-font($line: $default-line - 1);

    margin: 0;
    text-align: center;
  }
}

@media (max-width: $breakpoint-small) {
  .cellar {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .cellar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 367px;
    row-gap: 20px;

    &__sign {
      display: block;
    }
  }
}
