@import '../../scss/mixin-montserrat-font';
@import '../social/social.scss';

.cellar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 70px;
  background-color: white;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 367px;
    row-gap: 20px;
  }

  &__sign {
    display: none;
    align-items: center;
    column-gap: 12.5px;
    @media (max-width: $breakpoint-small) {
      display: flex;
    }
  }

  &__text {
    @include montserrat-font();

    margin: 0;
    line-height: $default-line - 1;
    text-align: center;
  }
}
