@import "../../../includes/Icons/arrow-down.scss";
@import "../../../utils/fonts/Quicksand.scss";
@import "../../../utils/fonts/OpenSans.scss";
@import "../../../utils/fonts/Montserrat.scss";


.Date-picker{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 14.5px;
    width: 150px;
    position: relative;
    margin-bottom: 2rem;
    display: inline-block;

};

.Date-picker_value{
 
    &::placeholder{
        color: rgba(31, 32, 65, 0.75);
    }
};
.ui-datepicker{
    width: auto !important;
    padding: 20px;
    border: none !important;
    & .ui-datepicker-newButtonPanel{
        &>p{
            font-weight: 700;
            font-family: 'Montserrat';
            font-size: 12px;
            color: #BC9CFF;
            cursor: pointer;
        }
    }
    & .ui-widget-header{
        border: none;
        background: #ffffff;
        font-family: 'Open Sans';
        font-size: 19px;
        color: #1F2041;
        font-weight: 700;
        margin-bottom: 30px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        & >*{
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;
            &:hover{
                border: none;
                background-color: white;
                
            }
        }
        & .material-icons{
            line-height: 24px;
            color: #BC9CFF;
            cursor: pointer;
            top:0;
            margin-top: 0;
        }
        & .ui-state-disabled{
            & .material-icons{
                color: rgba(31, 32, 65, 0.25);
            }
        }
    }
    .ui-datepicker-calendar{
        & thead{
            
            & th{
                padding: 0;
                & span{
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    font-family: 'Montserrat';
                    background-color: white;
                    line-height: 40px;
                    text-align: center;
                    color: rgba(31, 32, 65, 0.5);
                    border-radius: 50%;
                    border: none;
                    font-size: 12px;
                    padding: 0;
                    color: #BC9CFF;
                }
            }
        }
        & tbody{
            & td{
                padding: 0;
                font-family: 'Montserrat';
                opacity: 1 !important;
                & .ui-state-default{
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    background-color: white;
                    line-height: 40px;
                    text-align: center;
                    color: rgba(31, 32, 65, 0.5);
                    border-radius: 50%;
                    border: none;
                    font-size: 12px;
                }
                & .ui-state-highlight{
                    color: white;
                    font-weight: bold;
                    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                }
                &.selected{
                    & .ui-state-active{
                        background: linear-gradient(180deg, rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249,.25) 100%);
                        border-radius: 0;
                    }
                }
                &.selected-start{
                    & .ui-state-active{
                        color: white;
                        font-weight: bold;
                        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                        position: relative;
                        opacity: 1;
                        border-radius: 50%;
                    }
                    &:not(.selected-end){
                        & .ui-state-active{
                            &::before{
                                position: absolute;
                                content: "";
                                right: 0;
                                top:0;
                                height: 100%;
                                width: 50%;
                                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                                opacity: 0.25;
                            }
                        }
                    }
                }
                &.selected-end{
                    & .ui-state-active{
                        color: white;
                        font-weight: bold;
                        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                        position: relative;
                        opacity: 1;
                        border-radius: 50%;

                    }
                    &:not(.selected-start){
                        & .ui-state-active{
                            &::after{
                                position: absolute;
                                content: "";
                                left: 0;
                                top:0;
                                height: 100%;
                                width: 50%;
                                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                                opacity: 0.25;
                            }

                        }
                    }
                }
                &.ui-datepicker-other-month{
                    & .ui-state-default{
                    color: rgba(31, 32, 65, 0.25);
                    }
                }
            }
        }
    }
}