@import "../../utils/fonts/Montserrat.scss";
.radios{ 
    &__header{
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 15px;
    }
    &__radio-container{
        display: inline-block;
        margin-right: 20px;
    }
    &__checkbox{
        display: none;
        & + .radios__label{ 
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: rgba(31, 32, 65, 0.75);
            display: inline-block;
            vertical-align: middle;
            &::before {
                margin-right: 10px;
                content:'';
                display: inline-block;
                text-align: center;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid rgba(31, 32, 65, 0.25);
                cursor: pointer;
                border-radius: 50%;
                line-height: 18px;
                font-size: 12px;
                vertical-align: middle;   
            }
        }
    }
    &__checkbox:checked{ 
        & + .radios__label{ 
                color: rgba(31, 32, 65, 0.75);
    
            &::before {
                content: "stop_circle";
                font-family: 'Material Icons';
                color: #BC9CFF;
                border: 1px solid  #BC9CFF;
               
            }
        }
    
    }
}