@import '../../scss/mixin-montserrat-font';
@import '../../scss/mixin-mi-font';

.radios {
  $block: &;

  &__header {
    margin-bottom: 15px;
    @include montserrat-font();

    color: $main-color_darkest;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 3;
    text-transform: uppercase;
  }

  &__radio-container {
    display: inline-block;
    margin-right: 20px;
  }

  &__checkbox {
    display: none;

    & + #{$block}__title {
      display: inline-block;
      max-height: 24px;
      @include montserrat-font();

      color: $main-color_lighter;
      line-height: $size-middle + 6;
      vertical-align: middle;
      cursor: pointer;

      &::before {
        display: inline-block;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        @include mi-font();

        color: $main-color_lightest;
        font-size: $size-largest;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        content: 'radio_button_unchecked';
      }
    }
  }

  &__checkbox:checked {
    & + #{$block}__title {
      color: $main-color;

      &::before {
        color: $bright-color;
        background: $gradient_purple;
        -webkit-background-clip: text;
        content: 'radio_button_checked';
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
