@import "../../utils/_mixin-font.scss";
.radios{ 
    &__header{
        @include default-font($main-color_darkest, $size-small, $size-small+3, 700, none, uppercase);
        margin-bottom: 15px;
    }
    &__radio-container{
        display: inline-block;
        margin-right: 20px;
    }
    &__checkbox{
        display: none;
        & + .radios__label{ 
            @include default-font($line: $size-middle+6);
            display: inline-block;
            vertical-align: middle;
            &::before {
                margin-right: 10px;
                content:'';
                display: inline-block;
                text-align: center;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid $main-color_lightest;
                cursor: pointer;
                border-radius: 50%;
                @include default-font($size: $size-small);
                vertical-align: middle;   
            }
        }
    }
    &__checkbox:checked{ 
        & + .radios__label{ 
                color: $main-color;
    
            &::before {
                content: "stop_circle";
                font-family: 'Material Icons';
                color: $highlight-color;
                border: 1px solid  $highlight-color;
               
            }
        }
    
    }
}