@import "../../layout/layoutUIkit.scss";
@import "../../includes/Blocks/Header/Header.scss";
@import "../../includes/Blocks/Footer/Footer.scss";
@import "../../includes/Blocks/Сellar/Сellar.scss";
@import "../../includes/Blocks/Social/Social.scss";
@import "../../includes/Inputs/Date-range/Date-range_default.scss";
@import "../../includes/Inputs/Inputs-with-counter/Inputs-with-counter_default.scss";
@import "../../includes/Range-slider/Range-slider.scss";
@import "../../includes/Checkbox/Default_checkbox/Default_checkbox.scss";
@import "../../includes/Checkbox/Checkbox-with-describe/Checkbox-with-describe.scss";
@import "../../includes/Checkbox/Dropping_checkbox/Dropping_checkbox.scss";
@import "../../includes/Checkbox/Dropping_checkbox/Dropping_checkbox_active.scss";
@import "../../includes/Blocks/NumberDemonstration/NumberDemonstration.scss";
@import "../../includes/PageSwitch/PageSwitch.scss";


.LogoConteiner{
    min-width: 110px;
    
    &>*{
        vertical-align: middle;
    }
    & :first-child{
        margin-right: 10px;       
    }
    
    
}
.highlight{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 17px !important;
    color: rgba(31, 32, 65, 0.75) !important;
}
.wrapper{
    background-color: white;
    
    & .content{
        padding: 30px 0 70px;
        
        max-width: 1160px;
        min-height:830px;
        min-width: 320px;
        display: flex;
        justify-content: flex;
        margin: auto;
        & .Items-container{
            & >*{
                width:100%
            }
        }
 
        & .Inputs-containter{
            width: auto; 
            margin-right: 60px;
            & .Range-slider-filter {
                width: 266px;
            }
        }
        [data-counter="simple"] .Inputs-with-counter_textfield{
            width: 266px;
        };
        @media(max-width: 1200px){
            margin: 0 10px;
            & .Items-container{
                text-align: center;
            }
            & .NumberDemonstration{
                justify-content: space-around;
            }
        }

        @media(max-width: 815px){
            flex-wrap: wrap;
            justify-content: center;
            min-height:530px;
            &>*{
                width: 100%;
            }
            & .Inputs-containter{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-bottom: 30px;
                margin-right: 10px;
            }
            
        }   
    }
}
