extends ../../layout/layout-for-hotel.pug
include ../../includes/Blocks/Header/Header.pug
include ../../includes/Blocks/Footer/Footer.pug
include ../../includes/Blocks/Сellar/Сellar.pug
include ../../includes/Blocks/Social/Social.pug
include ../../includes/Inputs/Date-range/Date-range.pug
include ../../includes/Inputs/Inputs-with-counter/Inputs-with-counter.pug
include ../../includes/Range-slider/Range-slider.pug
include ../../includes/Checkbox/Default-checkbox/Default-checkbox.pug
include ../../includes/Checkbox/Checkbox-with-subscribe/Checkbox-with-subscribe.pug
include ../../includes/Checkbox/Dropping-checkbox/Dropping-checkbox.pug
include ../../includes/Pages-switcher/Pages-switcher.pug

block variables
    
block head
    title SearchRoom_Filter
    meta(name="keywords", content="keywords")
    meta(name="description", content="description")

block header
    +Header(false, {name: "О нас", href:"/about_us/"},{name: "Услуги", blocks:[{href:"/services1/", name:"Some"},{href:"/services3/", name:"Some else"}, {href:"/services3/", name:"Nevermind"} ]}, {name: "Вакансии", href:"/list/" },{name: "Новости", href:"/news/" },{name: "Соглашения", blocks:[{href:"/convience1/", name:"Some"},{href:"/convience2/", name:"Some else"} ]} )
block content
        section.Inputs-containter
            +Date-range("Даты пребывания в отеле", "Выберете период", "period001")
            +Inputs-with-counter(false,'Гости', 'Сколько гостей', '',{name: "взрослые", min: "0", max: "5"}, {name: "дети", min: "0", max: "5"}, {name: "младенцы", min: "0", max: "5"} )
            +Range-slider("Диапозон цены", "Стоимость за сутки прибывания в номере", 0, 15000, 0.333, 0.666)
            +Checkbox('правила дома', {name:'Можно курить', id:'chd001'}, {name:'Можно с питомцами', id:'chd002', checked:"true"},{name:'Можно пригласить гостей (до 10 человек)', id:'chd003', checked:"true"})
            +Checkbox-with-subscribe('доступность', {id:'chdisc001', name:'Широкий коридор', desc:'Ширина коридоров в номере не менее 91 см.'}, {id:'chdisc002', name:'Помощник для инвалидов', desc:'На 1 этаже вас встретит специалист  и проводит до номера.'})
            +Inputs-with-counter('simple', "удобства номера", 'Выберете комплектацию', '', {name: "спальни", min: "0", max: "5"}, {name: "кровати", min: "0", max: "5"}, {name: "ванные комнаты", min: "0", max: "5"} )
            +Dropping-checkboxes('дополнительные удобства', {name:'Завтрак', id:'ch001-2'},{name:'Письменный стол', checked:"true", id:'ch002-2'},{name:'Стул для кормления', checked:"true", id:'ch003-2'},{name:'Кроватка', checked:"true", id:'ch004-2'},{name:'Телевизор', id:'ch005-2'},{name:'Шампунь', id:'ch006-2'},{name:'Телевизор', id:'ch007-2'},{name:'Шампунь', id:'ch008-2'})
        section.Items-container
            h1 Номера, которые мы для вас подобрали
            include ../../includes/Blocks/Number-demonstration/Number-demonstration.pug
            div.Switcher-container
                +Pages-switcher(175, 12)
block footer
    +Footer("Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»", {caption:"Навигация", links:[{href: "/about/",desc: "О нас"},{href: "/news/",desc: "Новости"},{href: "/support/",desc: "Служба поддержки"},{href: "/services/",desc: "Услуги"} ]}, {caption:"О нас", links:[{href: "/about_service/",desc: "О сервисе"},{href: "/team/",desc: "Наша команда"},{href: "list/",desc: "Вакансии"},{href: "/investors/",desc: "Инвесторы"} ]}, {caption:"Служба поддержки", links:[{href: "/convience/",desc: "Соглашения"},{href: "/comm/",desc: "Сообщества"},{href: "/connection/",desc: "Связь с нами"} ]})
block cellar  
    +Cellar("Copyright © 2018 Toxin отель. Все права зачищены.", {twitter: "/twit/", facebook:"/fb/", instagram:"/inst/"})
block script
