include ../button/button.pug
include ../textfield/textfield.pug
mixin entry-form( {header='Войти', subscribe= 'Нет аккаунта на Toxin?' }={} )    
    article(class="entry-form")
        h1.entry-form__header #{header}
        form.entry-form__form(name="entry-form")
            div.entry-form__input-container
                +textfield( {placeholder: 'Email', type: "email"} )
            div.entry-form__input-container   
                +textfield( {placeholder: 'Пароль', type: "password"})
            div(class="entry-form__button entry-form__button_for_submit")
                +button( { text: 'Войти', styles: ['color_purple'], withArrow: 'arrow'} )
        div(class="entry-form__registration")
            p.entry-form__text #{subscribe}
            span(class="entry-form__button entry-form__button_for_regist")
                +button( { text: 'создать', styles: ['color_empty']} )