@import '../../scss/mixin-montserrat-font';
@import '../../scss/mixin-mi-font';

.rate-stars {
  $block: &;

  display: inline-block;
  vertical-align: bottom;

  & + #{$block} {
    margin-left: 20px;
  }

  &__head {
    margin: 0;
    margin-bottom: 15px;
    @include montserrat-font();

    color: $main-color_darkest;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 3;
    text-transform: uppercase;
  }

  &__star {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    @include mi-font();

    color: transparent;
    font-size: $size-largest;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    background: $gradient_purple;
    -webkit-background-clip: text;
    background-clip: text;

    &_fill_outlined {
      & #{$block}__star_colorized {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }
    }
  }
}
