mixin Rate-stars(descr, compl, share)
    - let added = 5 -(compl + Math.ceil(share) )
    div.rate-stars
        if descr
            h3.rate-stars__head #{descr}
        div.rate-stars__container
            - for (var x = 0; x < compl; x++)
                span(class="rate-stars__star  rate-stars__star_colorized") star
            
            if(share)
                - var pers = (share*100)
                span(class="rate-stars__star  rate-stars__star_outlined") star_outline
                    span(class="rate-stars__star  rate-stars__star_colorized" style=`width: ${pers}%`) star

            - for (var y = 0; y < added; y++)
                span(class="rate-stars__star  rate-stars__star_outlined") star_outline

