@import '../../../../static/figures/arrow-right/arrow-right.scss';
@import '../../../../utils/fonts/Montserrat.scss';
.text-field_with_arrow-right{
    position: relative;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    &__subscribe{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        margin: 0;
        padding: 0;
        margin-bottom: 5.5px;
        color: rgba(31, 32, 65, 1)
    }
    &__value{
        font-size: 14px;
        padding-left: 15px;
        width: 100%;
        line-height: 24px;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.75);
        box-sizing: border-box;
        border-radius: 4px;
        transition-duration: 0.7s;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        &::placeholder{
            color: rgba(31, 32, 65, 0.25);
            transition-duration: 0.7s;
            opacity: 1;
            font-size: 14px;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
        } 
        &:hover{
            line-height: 24px;
            color: rgba(31, 32, 65, .75);
            border: 1px solid rgba(31, 32, 65, 0.5);
            transition-duration: 0.7s;
            &::placeholder{
                color: rgba(31, 32, 65, 0.75);
                transition-duration: 0.7s;
            }
        }
    };
    &__describe{
        color: rgba(31, 32, 65, 0.5);
        padding: 0px;
        margin: 0px 0px 5px 0px;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    };
    &__arrow{
        display: inline-block;
        max-height: 44px;
        width: 44px;
        line-height: 44px;
        right: 0;
        bottom: 0;
        position: absolute;
        text-align: center;
        color: #BC9CFF;
    }
};

