include ../../../Buttons/Button_rounded/Button_rounded.pug
include ../../../Buttons/Button_rounded/ButtonWithArrow/ButtonWithArrow.pug
span.Autorization
    +Button_rounded("Войти", 'empty')
    span(class=`Button_rounded Button_rounded_purple ButtonWithArrow`) Зарегистрироваться