@import '../../scss/_mixin-fa-font';
@import '../../scss/_mixin-montserrat-font.scss';

.checkbox {
  $block: &;

  display: inline-block;
  @include montserrat-font();

  color: $main-color_lighter;
  font-size: $size-middle;
  line-height: $default-line;

  &__checkbox {
    display: none;

    & + #{$block}__label {
      display: inline-block;
      min-height: 20px;
      user-select: none;

      &::before {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        color: $bright-color;
        font-weight: bold;
        @include fa-font();

        font-size: $size-small -1;
        line-height: 18px;
        text-align: center;
        vertical-align: top;
        background: $gradient_purple;
        -webkit-background-clip: text;
        border: 1px solid $main-color_lightest;
        border-radius: 4px;
        border-image: initial;
        cursor: pointer;
        content: '';
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__checkbox:checked {
    & + #{$block}__label {
      &::before {
        border: 1px solid $bright-color;
        content: '\f00c';
      }
    }
  }

  &__legend {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 230px;
    min-height: 20px;
  }

  &__main-text {
    color: $main-color_lighter;
  }

  &__sub-text {
    font-size: $size-small;
    line-height: $size-small + 2;
  }

  &_with-subtitle {
    #{$block}__main-text {
      margin-bottom: 5px;
      color: $main-color;
      font-weight: 700;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
