@import '../../assets/styles/calendar/calendar.scss';
@import '../../assets/styles/variables';
@import '../textfield/textfield.scss';

.date-picker {
  position: relative;
  color: $main-color_lighter;
  .textfield__value {
    &::placeholder {
      color: $main-color;
    }
  }
}
