include ../text-field/_with/text-field_with_arrow-down/text-field_with_arrow-down.pug
mixin Date-picker(label, placeholder, describe, id)
    div(class=`js-date-picker date-picker`)
        +Text-field_with_arrow-down(label, placeholder, describe, id)