include ./Footer_block_content_refs/Footer_block_content_refs.pug
include ../../Inputs/Field-with-arrow/Field-with-arrow.pug
mixin Footer(info, ...refs)
    .Footer-wrap
        .Footer 
            div(class="Footer__block Footer__block_width_wide")
                div(class="LogoConteiner")
                    include ../../Images/logo.img_color.svg
                    include ../../Images/TOXIN.svg
                div 
                    p #{info} 
            each val in refs
                div(class="Footer__block Footer__block_width_slim Footer_block_content_refs")
                    +Footer_block_content_refs(val)
            div(class="Footer__block Footer__block_width_wide Footer_block_content_subscribe")
                h5 подписка
                p Получайте специальные предложения и новости сервиса
                +Field-with-arrow('', 'Email', '', '')





