@import "../../../utils/fonts/MaterialIcons.scss";
.rate-stars{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    & + .rate-stars{
        margin-left: 20px;
    }
    &__head{
        text-transform: uppercase;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        margin: 0;
        margin-bottom: 15px;
        color: rgba(31, 32, 65, 1); 
    }
    &__star{
        display: inline-block;
        height: 24px;
        width: 24px;
        line-height: 24px;
        font-family: 'Material Icons';
        position: relative;
        color: #BC9CFF;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        &_outlined{
            & .rate-stars__star_colorized{
                
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
            }
        }  
    }
}

