
.Buttons_wrap{
    width: 266px;
    margin-top: 40px;
    font-family: 'Montserrat';
    margin-bottom: 36px;
}

.Buttons_head{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    position: relative;
}
.Buttons_div{
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 20px;

}
.Buttons_wrap input[type="radio"]{
    display: none;
    & + label{ 
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        &::before {
            content:'';
            display: inline-block;
            text-align: center;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            cursor: pointer;
            border-radius: 50%;
            line-height: 20px;
            vertical-align: middle;
           
        }

    }

}
.Buttons_wrap input[type="radio"]:checked{ 
    & + label{ 
        & + .Buttons_text{
            color: rgba(31, 32, 65, 0.75);
        }
        &::before {
            content: "stop_circle";
            font-family: 'Material Icons';
            color: #BC9CFF;
            font-size: 12px;
            border: 1px solid  #BC9CFF;
           
        }
    }

}
.Buttons_text{
    background-color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    vertical-align: middle;

}
