mixin Rate-stars(descr, compl, pers)
    - var compl = compl
    - if(!pers){pers =[]}
    div.rate-stars
        if descr
            h3.rate-stars__head #{descr}
        div.rate-stars__container
            - for (var x = 0; x < compl; x++)
                span(class="rate-stars__star  rate-stars__star_colorized") star
            each val in pers
                - var am = (val*100)
                span(class="rate-stars__star  rate-stars__star_outlined") star_outline
                    span(class="rate-stars__star  rate-stars__star_colorized" style=`width: ${am}%`) star

    
