mixin Sticker(icon, describe, subscribe)
    div(class="Sticker")
        span(class="Sticker__img") #{icon}
        span.Sticker__text
            p.Sticker__describe #{describe}
            br
            p.Sticker__subscribe #{subscribe}