@import '../../scss/mixin-montserrat-font';

.diagram {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 350px;

  &__header {
    margin: 0 0 20px;
    @include montserrat-font();

    color: $main-color_darkest;
    font-weight: 700;
    font-size: $size-larger;
    line-height: $size-largest;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
  }

  &__reviews-amount {
    min-height: 30px;
    @include montserrat-font();

    color: $bright-color;
    font-weight: 700;
    font-size: $size-largest;
    line-height: $size-largest + 5;
    text-transform: uppercase;
  }

  &__subtitle {
    @include montserrat-font();

    color: $bright-color;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 3;
    text-transform: uppercase;
  }

  &__image {
    position: relative;
    width: 120px;
    height: 120px;
  }

  &__legend {
    display: inline-block;
    min-width: 200px;
    margin-left: 30px;
    @media (max-width: $breakpoint-small) {
      display: inline-block;
      min-width: 180px;
      margin-left: 10px;
    }
  }

  &__legend-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
  }

  &__legend-lettering {
    display: inline-block;
    margin: 0;
    margin-top: 6px;
    @include montserrat-font();

    line-height: $default-line;
    vertical-align: baseline;
  }
}
