@import '../../layout/layout-for-hotel.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/cellar/cellar.scss';
@import '../../blocks/registration/registration.scss';

.content {
  background-image: url('./img/registration-background.jpg');
  background-position: bottom;

  &__wrapper {
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 684px;
    padding: 19px 0;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('./img/registration-background-2.jpg');
    background-position: bottom;
    opacity: 0;
    animation: sliding 20s linear 0s infinite;
    content: '';
  }
}
@keyframes sliding {
  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
