@import "../../layout/layout-for-hotel.scss";
@import "../../includes/Articles/Header/Header.scss";
@import "../../includes/Articles/Footer/Footer.scss";
@import "../../includes/Articles/Сellar/Сellar.scss";
@import "../../includes/Articles/Registration/Registration.scss";

.content-container{
    background-image: url('./img/Registration_bg.jpg');
    background-position: bottom;
    & .wrapper{
        min-height: 684px;
        min-width: 320px; 
        width: 100%;
        padding: 19px 0;
        display: flex;
        justify-content: center;
    }
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: -1;
        background-image: url('./img/Registration_bg2.jpg');
        background-position: bottom;
        opacity: 0;
        animation: sliding 20s linear 0s infinite ;
    }
}
@keyframes sliding{
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
