@import "../../includes/Blocks/Header/Header.scss";
@import "../../includes/Blocks/Footer/Footer.scss";
@import "../../includes/Blocks/Сellar/Сellar.scss";
@import "../../includes/Blocks/Social/Social.scss";
@import "../../layout/layoutUIkit.scss";
@import "../../includes/Blocks/NumberFinder/NumberFinder_type_double/NumberFinder_type_double.scss";

p{
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-decoration: none;
}

label{
    p{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14.5px;
        margin-bottom: 5.5px;
        color: rgb(31, 32, 65);
    }
    &::before{
        text-transform: none;
    }
}
.LogoConteiner{
    min-width: 110px;
    
    &>*{
        vertical-align: middle;
    }
    & :first-child{
        margin-right: 10px;       
    }
    
    
}
.highlight{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 17px !important;
    color: rgba(31, 32, 65, 0.75) !important;
}
.content{
    background-image: url('LandingPage_background.png');
    background-position: bottom;
   
    min-height:830px;
    min-width: 320px;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
    @media(max-width: 810px){
        flex-wrap: wrap;
        justify-content: center;
        min-height:530px;
        &>*{
            width: 100%;
            & .NumberFinderCont{
                margin:auto;
            }
            &:last-child{
                padding-top: 18px;
                width: 380px !important;
                text-align: center !important;
                & p{
                    width: 380px !important;
                }
            }

        }
    }
    @media(max-width: 385px){
        &>*{
            width: 100%;
            & .NumberFinderCont{
                padding-right: 5px;
                padding-left: 5px;
            }
            &:last-child{
                padding-top: 18px;
                width: 320px !important;
                text-align: center !important;
                & p{
                    width: 320px !important;
                }
            }
        
        }
    }   
}