include ./Header__menu/Header__menu.pug

mixin Header(login, ...issues)
    - var logo = logo
    .Header-wrap
        div.Header
            div(class="Header__sign LogoConteiner")
                include ../../Images/logo.img_color.svg
                include ../../Images/TOXIN.svg
            div(class="Header__menu Menu")
                each val in issues 
                    +Header__menu(val)
                if login   
                    a(href="#" class="Menu__element Menu__element_type_login")
                        span #{login}
                if !login 
                    include ./Header__autorization/Header__autorization.pug
