extends ../../layout/layout-for-hotel.pug
block variables
block head
    title UI-kit, WebsitePages and Slider
block header 
    div.nav-panel
        div.js-switcher.ui-button UI-kit
        div.js-switcher.site-pages-button Pages
        div.js-switcher.slider-button Slider
block content 
    section.section.ui-demonstrate 
        include ../UI-kit/UI-kit.pug
    section(class="section links-demonstrate")  
        div.site-page-filler
            a(href="./LandingPage.html") Landing Page 
        div.site-page-filler
            a(href="./landingPage_GuestDropdown.html") landing Page/ Guest Dropdown
        div.site-page-filler
           a(href="./landingPage_DateDropdown.html") landing Page/ Date Dropdown 
        div.site-page-filler
            a(href="./SearchRoom_Filter.html") SearchRoom/ Filter 
        div.site-page-filler
            a(href="./Search_room_Filter_PreferencesDropdown.html") Search room/ Filter Preferences Dropdown
        div.site-page-filler
            a(href="./Search_room_Filter_PreferencesExpandableCheckboxList.html") Search room/ Filter Preferences Expandable Checkbox List
        div.site-page-filler
            a(href="./RoomDetails.html") Room Details
        div.site-page-filler
            a(href="./Registration.html") Registration 
        div.site-page-filler
            a(href="./Login.html") Sign In 
    section.section.slider-demonstrate
        include ./rangeDemo/index.pug
block script
