extends ../../layout/layout-for-hotel.pug
block variables
block head
    title WebsitePages
block header 
    div.nav-panel
        div.ui-button.actived UI-kit
        div.site-pages-button Pages
block content 
    div(class="linksDemonstrate sitepages")  
        div 
            a(href="./LandingPage.html") Landing Page 
        div
            a(href="./landingPage_GuestDropdown.html") landing Page/ Guest Dropdown
        div
           a(href="./landingPage_DateDropdown.html") landing Page/ Date Dropdown 
        div
            a(href="./SearchRoom_Filter.html") SearchRoom/ Filter 
        div
            a(href="./Search_room_Filter_PreferencesDropdown.html") Search room/ Filter Preferences Dropdown
        div
            a(href="./Search_room_Filter_PreferencesExpandableCheckboxList.html") Search room/ Filter Preferences Expandable Checkbox List
        div
            a(href="./RoomDetails.html") Room Details
        div
            a(href="./Registration.html") Registration 
        div
            a(href="./Login.html") Sign In 

    div.ui-demonstrate 
        include ../UI-kit/UI-kit.pug
block script
