.Button_rounded{
    display: inline-block;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    line-height: 40px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.Button_rounded_purple{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    border: 2px solid rgb(188, 156, 255);

}
.Button_rounded_purple_depr{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
    color: white;
    border: 2px solid rgb(188, 156, 255);
}
.Button_rounded_empty{
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
}
.Button_rounded_empty_depr{
    color: #BC9CFF;
    border: 2px solid rgba(188, 156, 255, 0.5);
}
