@import "../Checkbox/Buttons_liker/Buttons_liker.scss";

.Review-shape-header{
    & .Review-shape-img{
        width: 50px;
        text-align: center;
        margin-right: 10px;
    }
    & span{
        display: inline-block;
        vertical-align: top;
        & h4{

            line-height: 24px;
            margin-bottom: 0;
        }
        & p{
            line-height: 24px;
            font-family: 'Montserrat';
            margin-top: 0;
            font-size: 14px;
        }
    }}
.Review-shape-content{
    justify-content: start;
    display: flex;
    & .Review-shape-liker{
        width: 50px;
        margin-right: 10px;
        & .Buttons_liker_head{
            margin: 0;
        }
        & .Buttons_liker_cont{
            text-align: center;
        }
    }
    & .Review-shape-review{
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
}

    