mixin textfield-for-sending({ label='', placeholder='Введите текст', describe='', type='text'}={})
    - if(!describe){describe=''}
    div(class=`js-textfield-for-sending textfield-for-sending`)
        span.textfield-for-sending__arrow.js-textfield-for-sending__arrow
            include ../../static/figures/arrow-right/arrow-right.pug 
        label 
            if label
                h3.textfield-for-sending__subscribe #{label}
            input(class="js-textfield-for-sending__value textfield-for-sending__value" placeholder=placeholder type=type) 
        p(class="textfield-for-sending__describe") #{describe}
        