mixin Social(obj)
    span.Social
        if(obj.twitter)
            i(class="fab fa-twitter")
        if(obj.facebook)
            i(class="fab fa-facebook-square")
        if(obj.instagram)
            i(class="fab fa-instagram")
        if(obj.telegram)
            i(class="fab fa-telegram-plane")
        if(obj.cat)
            i(class="fas fa-cat")