include ../arrow/arrow.pug 
mixin textfield-for-dropping({ label='', placeholder='Введите текст', describe='', type='text'}={})
  div(class=`js-textfield-for-dropping textfield-for-dropping`)
    span(class='textfield-for-dropping__arrow js-textfield-for-dropping__arrow')
      +arrow({ direction: 'down'})
    label 
      if label
        h3.textfield-for-dropping__subscribe #{label}
      input( readonly autocomplete="off" class="js-textfield-for-dropping__value textfield-for-dropping__value" placeholder=placeholder type=type ) 
    p(class="textfield-for-dropping__describe") #{describe}
    