mixin card({ text='', links = []}={}) 
  include ../social/social.pug   
  div.card
    span.card__sign 
      span.card__logo
        include ../../static/Images/logo.img_color.svg
      span.card__brand
        include ../../static/Images/TOXIN.svg
    span.card__subscribe #{text}
  
    span.card__social
      +social(links)