mixin colorIcon(color, name, opacity)
    div.colorIconsDiv
        span(class="colorIconsColor" style=`background-color: ${color}; opacity: ${opacity}`)
        span
            p(class="colorIconTitle") #{name}
            br
            p(class="colorIconSubTitle") #{color} 
