mixin Blank-smile(icon, describe, subscribe)
    div(class="Blank-smile")
        span(class="Blank-smile__img" style="margin-right:10px") #{icon}
        span.Blank-smile__text
            p(style="font-weight:700;") #{describe}
            br
            p(style="font-weight:400") #{subscribe}