mixin Blank-smile(icon, describe, subscribe)
    div(style="border-bottom: 1px solid rgba(31, 32, 65, 0.1); padding-bottom:17px;margin-top:23px;")
        span(class="Blank-smile-img" style="margin-right:10px") #{icon}
        span.Blank-smile-text
            p(style="font-weight:700;") #{describe}
            p(style="font-weight:400") #{subscribe}