include ../button/button.pug
span(class = 'autorization-panel')
    span.autorization-panel__entry-container
        +button({text: "Войти", styles: ["color_empty", "height_low"], type: 'button'})
    span.autorization-panel__registration-container
        +button({ text: "Зарегистрироваться", styles: ["color_purple", "height_low"], type: 'button' })
