mixin Diogram(id)
    article(class="js-diogram diogram")
        section.diogram__image
            div(class="js-diogram__title diogram__title")
                b.js-diogram__reviews-amount.diogram__reviews-amount
                br
                b.js-diogram__subtitle.diogram__subtitle
            canvas(width="120px" height="120px" id=`${id}` class="js-diogram__canvas diogram__canvas" )
        section.diogram__legend.js-diogram__legend
            div(class="diogram__legend-item")
                span.diogram__legend-circle
                p.diogram__legend-lettering Великолепно
            div(class="diogram__legend-item" )
                span.diogram__legend-circle 
                p.diogram__legend-lettering Хорошо
            div(class="diogram__legend-item")
                span.diogram__legend-circle 
                p.diogram__legend-lettering Удовлетворительно           
            div(class="diogram__legend-item" ) 
                span.diogram__legend-circle 
                p.diogram__legend-lettering Разачарован