@import '../../assets/mixin-font';
.link {
  @include default-font(
    $size: $size-small,
    $line: $size-small + 2.5,
    $decor: none,
    $weight: 700,
    $transform: uppercase
  );

  margin: 0;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  &_color_purple {
    color: $highlight-color;
    &:hover {
      color: $main-color_lighter;
    }
  }
}
