@import '../../scss/mixin-montserrat-font';

.link {
  margin: 0;
  padding: 0;
  @include montserrat-font();

  color: $size-larger;
  font-weight: 700;
  font-size: $size-small;
  line-height: $size-small + 2.5;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &_colorized {
    color: $bright-color;

    &:hover {
      color: $main-color_lighter;
    }
  }
}
