@import "../../utils/_mixin-font.scss";
.link{
    @include default-font($size: $size-small, $line: $size-small+2.5, $decor: none, $weight: 700, $transform: uppercase);
    margin-right: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    &_color_purple{
        color: $highlight-color;
        &:hover{
            color: $main-color_lighter;
        }
    } 
}
