extends ../../layout/layoutUIkit.pug
include ../../utils/fontIcon.pug
include ../../utils/colorIcon.pug

block variables
  //- - require('../../includes/images/logo.img.svg')
block head
  link(rel="stylesheet" href="colorAndTypes.css")
  script(src="colorAndTypes.js")
  title ColorAndTypes


block content
  span(class="bird")
    include ../../includes/Images/logo.img.svg
  div.keeper
    div.forColors
      +colorIcon('#1F2041', "Dark Shade 100%", 1)
      +colorIcon('#1F2041', "Dark Shade 75%", 0.75)
      +colorIcon('#1F2041', "Dark Shade 50%", 0.5)
      +colorIcon('#1F2041', "Dark Shade 25%", 0.25)
      +colorIcon('#1F2041', "Dark Shade 5%", 0.05)
      +colorIcon('#BC9CFF', "Purple")
      +colorIcon('#6FCF97', "Green")    
  div.keeper
    div.forFont
      // mixin fontIcon(tag,family, size, weight,line, text, opacity )
      +fontIcon('H1', 'Quicksand', '24px', '700', '30px', 'This one is the sub-section or widget title' )
      +fontIcon('H2', 'Quicksand', '19px', '700', '24px', 'Next one is the item title inside widgets' )
      +fontIcon('H3', 'Quicksand', '14px', '700', '15px', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
      +fontIcon('Body', 'Montserrat', '14px', '400', '24px', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', '0.75')

  
block script

