@import "../../layout/layoutUIkit.scss";
@import "../../utils/colorIcons.scss";
@import "../../utils/fontIcon.scss";
@import "../../utils/fonts/Montserrat.scss";
@import "../../utils/fonts/Quicksand.scss";

.bird{
	position: absolute;
	left: 3rem;
	top: 3rem;
}

.keeper{
	width: 50%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
.forColors{
	margin: auto;
	min-width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Quicksand;
	
};
.forFont{
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 403/(1440/2)*100%;
	margin: auto;
}
