@import "../Date-picker/Date-picker_default.scss";

.Date-range_double{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 14.5px;
    width: 150px;
    position: relative;
    margin-bottom: 2rem;
    display: inline-block;
};

.Date-range_double_value{
    &::placeholder{
        color: rgba(31, 32, 65, 0.75);

    }
};
.ui-datepicker-calendar{
    z-index: 100;
}