@import "../../../Icons/arrow-right_blue.scss";
@import "../Button_rounded.scss";
.Button_rounded.ButtonWithArrow{
    
    width: 320px;
    height: 44px;
    position: relative;
    & .arrow-right_blue{
        right: 0;
        & i{
            color: white;
        }
    }

}
