@import '../../assets/styles/mixin-font';

.marked-list {
  margin: 0;
  padding: 0;
  &__item {
    margin-bottom: 10px;
    list-style-type: none;
  }
  &__img {
    display: inline-block;
    width: 20px;
    padding-top: 7px;
    vertical-align: top;
  }
  &__desc {
    @include default-font($line: $size-largest);

    display: inline-block;
    max-width: 240px;
    margin: 0;
    vertical-align: top;
  }
}
