@import '../../scss/mixin-montserrat-font';

.marked-list {
  @include montserrat-font($main-color, $size-small + 2, $size-largest);

  &__header {
    @include montserrat-font(
      $main-color_darkest,
      $size-small,
      $size-small + 3,
      700,
      none,
      uppercase
    );

    margin: 0;
    margin-bottom: 15px;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 10px;
    list-style-type: none;
  }

  &__circle {
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    margin-top: 7px;
    margin-right: 10px;
    vertical-align: top;
    background-color: $main-color_lightest;
    border-radius: 50%;
  }

  &__desc {
    @include montserrat-font($line: $size-largest);

    display: inline-block;
    max-width: 240px;
    margin: 0;
    vertical-align: top;
  }
}
