@import '../../scss/mixin-montserrat-font';

.marked-list {
  @include montserrat-font();

  color: $main-color;
  font-size: $size-small + 2;
  line-height: $size-largest;

  &__header {
    margin: 0;
    margin-bottom: 15px;
    @include montserrat-font();

    color: $main-color_darkest;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 3;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 10px;
    list-style-type: none;
  }

  &__circle {
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    margin-top: 7px;
    margin-right: 10px;
    vertical-align: top;
    background-color: $main-color_lightest;
    border-radius: 50%;
  }

  &__desc {
    display: inline-block;
    max-width: 240px;
    margin: 0;
    @include montserrat-font();

    line-height: $size-largest;
    vertical-align: top;
  }
}
