extends ../../layout/layoutUIkit.pug
include ../../includes/Blocks/NumberBooker/NumberBooker.pug

block variables

block head
    title= FormElements
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
block content
    span(class="bird")
        include ../../includes/Images/logo.img.svg
    .FormElementsWrapper
        .FormElementsConteiner
            include ../../includes/Blocks/NumberFinder/NumberFinder.pug
        .FormElementsConteiner
            +NumberBooker(888, 'Люкс', "9 990", 3, [{desc:'Сбор за услуги: скидка 2 179₽', sign: 'i', price: 0}, {desc:'Сбор за дополнительные услуги', sign: 'i', price: 300}])
        .FormElementsConteiner
            div(class="Date-range_value filled-range"  style="margin:0;padding:0;")

           
            
block script
