include ../button/button.pug
mixin authorization-panel( { signinButton = 'sign in', signupButton = 'sign up' } = { })
  span(class = 'authorization-panel')
    span.authorization-panel__entry-container
      +button({text: signinButton, isLow: true, type: 'button'})
    span.authorization-panel__registration-container
      +button({ text: signupButton, isLow: true, isHighlight: true, type: 'button' })
