include ../button/button.pug
mixin authorization-panel( {}={})
  span(class = 'authorization-panel')
    span.authorization-panel__entry-container
      +button({text: "Войти", styles: ["color_empty", "height_low"], type: 'button'})
    span.authorization-panel__registration-container
      +button({ text: "Зарегистрироваться", styles: ["color_purple", "height_low"], type: 'button' })
