@import '../button/button.scss';

.authorization-panel {
  &__entry-container {
    display: inline-block;
    min-width: 87px;
    height: 34px;
    margin: 0 20px 0 10px;
    @media (max-width: $breakpoint-large) {
      min-width: 65px;
      margin: 10px;
    }
  }

  &__registration-container {
    display: inline-block;
    min-width: 196px;
    height: 34px;
    @media (max-width: $breakpoint-large) {
      min-width: 150px;
      margin: 10px;
    }
  }
}
