mixin colorIcon(color, name, opacity)
  .color-icon__container
    span.color-icon__color(style = `background-color: ${color}; opacity: ${opacity}`)
    span
      span.color-icon__title #{name}
      br
      span.color-icon__subtitle #{color} 
