@import "../../../utils/fonts/FontAwesome.scss";
.Social{
    
    & i{
        width: 24px;
        height: 24px;
        font-size: 24px;
        color: #BC9CFF ;
        & + i{
            margin-left: 20px;
        }
    }
}