@import '../../scss/mixin-montserrat-font';

.range-picker {
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: none;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__title {
    margin: 0;
    margin-bottom: 5.5px;
    padding: 0;
    @include montserrat-font();

    color: $main-color_darkest;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 3;
    text-transform: uppercase;
  }

  &__container {
    width: 100%;
    padding: 10px 0;
  }

  &__counter {
    @include montserrat-font();

    color: $main-color_lighter;
    font-size: $size-small;
    line-height: $size-small;
  }

  &__description {
    margin-top: 5px;
    margin-bottom: 0;
    @include montserrat-font();

    color: $main-color_lighter;
    font-size: $size-small;
    line-height: $size-middle;
  }
}
