@import "../Date-picker/Date-picker.scss";
@import "../../../utils/fonts/Montserrat.scss";
@import '../../Figures/Arrow-down/Arrow-down.scss';

.date-range_double{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__subscribe{
        text-transform: uppercase;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        margin: 0;
        padding: 0;
        margin-bottom: 5.5px;
        color: rgba(31, 32, 65, 1)
    }

    &__container{
        max-width: 150px;
        position: relative;
        display: inline-block;
    }
    &__value{
        padding-left: 15px;
        width: 100%;
        line-height: 18px;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.75);
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        transition-duration: 0.7s;
        font-size: 14px;
        &::placeholder{
            font-size: 14px;
            line-height: 37px;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            color: rgba(31, 32, 65, 0.75);
            transition-duration: 0.7s;
            opacity: 1;
        }
        &:hover{
            line-height: 24px;
            color: rgba(31, 32, 65, .75);
            border: 1px solid rgba(31, 32, 65, 0.5);
            transition-duration: 0.7s;
            &::placeholder{
                color: rgba(31, 32, 65, 0.75);
                transition-duration: 0.7s;
            }
        }
    };
    & .arrow-down{
        color: rgba(31, 32, 65, 0.50);
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
};
