@import "../../utils/fonts/Montserrat.scss";
@import "../date-picker/_double/date-picker_double.scss";
@import "../input-with-counter/input-with-counter.scss";
@import "../button-rounded/button-rounded.scss";


.booker{
    background-color: white;
    box-shadow: 0px 0px 25px rgba(151, 125, 125, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 39px 29px;
    max-width: 320px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    &__font{
        &_color_black{
            color: rgba(31, 32, 65, 1);

        }
        &_color_grey{
            color: rgba(31, 32, 65, .5);
        }
        &_color_purple{
            color: #BC9CFF;
        }
        &_size_large{
            font-size: 24px;
            line-height: 29px;
        }
        &_size_middle{
            font-size: 14px;
            line-height: 18px;
        }
        &_size_small{
            font-size: 12px;
            line-height: 18px;
        }
        &_uppercase{
            text-transform: uppercase;
        }
    }

    &__information{
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 19px;
    }
    &__calendar{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__counter{
        margin-bottom: 20.5px;
    }
    &__rent-calculation{
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        text-decoration: none;
        vertical-align: top; 
        font-weight: 400;
    }
    &__rent{
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
    }
    &__services{
        margin: 0;
        padding: 0;
    }
    &__service{
        display: flex; 
        justify-content: space-between;
        margin-bottom: 10px;
        list-style-type: none;
    }
    &__service-desc{
        width: 215px;
        display: inline-block;
    }
    &__sign_i{
        display: inline-block;
        height: 20px; 
        width: 20px;
        vertical-align: top;
        line-height: 18px;
        font-size: 12px;
        color: rgba(31, 32, 65, 0.25) ;
        text-align:center; 
        font-weight: 700; 
        border-radius:50%;
        box-sizing: border-box;
        border: 1px solid rgba(31, 32, 65, 0.25); 
 

    }
    &__total{
        display: flex; 
        margin: 30px 0 20px;
        font-size: 19px;
        line-height: 24px;
    }
    &__total-filler{
        border: 1px dashed rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        max-height: 1px;
        flex-grow: 1;
        align-self: flex-end;
    }
    &__button-cont{
        height: 44px;
    }
    @media(max-width: 400px){
        padding: 29px 19px;
    }
    @media(max-width: 380px){
        padding: 29px 5px;
    }
    @media(max-width: 330px){
        padding: 29px 0px;
    }
}
