include ../double-date-picker/double-date-picker.pug
include ../input-with-counter/input-with-counter.pug
include ../button/button.pug
mixin number-booker( {number='', category='', price = 0, servDesc='', servPrice='', initArrive, initDeparture, initLI1, initLI2, initLI3}={} )
    article(class="booker js-booker")
        section.booker__information
            span.booker__main-info
                b.booker__font_color_black.booker__font_size_middle № 
                strong(class="booker__number js-booker__number booker__font_color_black booker__font_size_large" data-number=number)
                b(class="booker__category js-booker__category booker__font_color_purple booker__font_size_small booker__font_uppercase" data-category=category)
            span.booker__price-info
                strong(class="booker__price js-booker__price booker__font_color_grey booker__font_size_middle" data-price=price)
                span.booker__font_color_grey.booker__font_size_small &nbsp;&nbsp;в сутки

        section.booker__forms
            form(name="booker")
                div.booker__calendar
                    +double-date-picker( { initArrive, initDeparture, textfields: [ {placeholder: "ДД.ММ.ГГГГ", label:"прибытие"},{placeholder: "ДД.ММ.ГГГГ", label:"выезд"} ] } )
                div.booker__counter
                    +inputs-with-counter({ label: 'Гости', placeholder: 'Сколько гостей', items:[ {name: "взрослые", min: "0", max: "5", concat: true, init: initLI1}, {name: "дети", nameForm1:"гость", nameForm2:"гостя", nameForm3: "гостей", min: "0", max: "5", init: initLI2}, {name: "младенцы", nameForm1:"младенец", nameForm2: "младенца", nameForm3: "младенцев", min: "0" , max: "5", init: initLI2} ] })
        
        section.booker__rent-calculation
            div.booker__rent
                span
                    span.booker__price.js-booker__price
                    spant &nbsp;x&nbsp;
                    span.booker__amount.js-booker__amount
                span.booker__rent-total.js-booker__rent-total
            ul(class="booker__services js-booker__services" data-price=servPrice data-desc = servDesc)
            div.booker__total.js-booker__total.booker__font_color_black
                strong Итого
                span.booker__total-filler
                strong.js-booker__total-price
                
        section.booker__button-cont
            +button({ text: 'забронировать', styles: ['color_purple'], withArrow: true})

