@import "../../../utils/fonts/Montserrat.scss";
.Checkbox-with-subscribe{
    &__head{
        margin-bottom: 15px;
        & h3{
            text-transform: uppercase;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            margin: 0;
            padding: 0;
            margin-bottom: 5.5px;
            color: rgba(31, 32, 65, 1);
        }
    }
    &__checkbox{
        margin-bottom: 10px;
        & input[type="checkbox"]{
            display: none;
            & + label{
                font-family:  Montserrat, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(31, 32, 65, 0.5);
                display: inline-block;
                &::before {
                    content:'';
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    text-align: center;
                    text-indent: 0px;
                    width: 20px;
                    height: 20px;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    box-sizing: border-box;
                    border-radius: 4px;
                    border-image: initial;
                    vertical-align: top;
                    cursor: pointer;
                }
        
            }
        
        }
    }

    & input[type="checkbox"]:checked{
   
        & + label{
            &::before {
                content: "expand_more";
                font-family: 'Material Icons';
                font-size: 18px;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #BC9CFF;
                border: 1px solid #BC9CFF ;
                }
    
        }
    }
    &__text{
        vertical-align: top;
        display: inline-block;
        & >*{
            margin-top: 0px;
            max-width: 230px;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            &h3{
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.75);
                margin-bottom: 5px;  
            }
            &p{
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: rgba(31, 32, 65, 0.5);
            }
        }
    }
}
