$main-color: rgba(31, 32, 65, 0.75);
$main-color_lighter: rgba(31, 32, 65, 0.5);
$main-color_lightest: rgba(31, 32, 65, 0.25);
$main-color_darkest: rgba(31, 32, 65, 1);

$highlight-color: #BC9CFF; 
$highlight-color_skew: #8BA4F9; 


$size-small:12px;
$size-middle:14px;
$size-larger:19px;
$size-largest: 24px;

$default-line: 18px;