@import "../../../utils/fonts/OpenSans.scss";
@import "../../../utils/fonts/Montserrat.scss";
@import "../../../utils/fonts/Quicksand.scss";
@import "../../Inputs/Inputs-with-counter/Inputs-with-counter_default.scss";


.NumberBookerCont{
    & p{
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: baseline;
    }
    & span{
        display: inline-block;
        vertical-align: bottom;
    }
    & >div:not(.Button_rounded){
        margin-bottom: 20px;
    }

}

.NumberBookerAddits {
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.75);
    & >div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        &.NumberBookerTotalPrice{
            margin-bottom: 20px;
            margin-top:30px;
            font-size: 19px;
            font-weight: 700;
            font-family: "Quicksand";
            border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
            color: #1F2041;
            &>*{
                line-height: 24px;
                background: white;
                position: relative;
                bottom: -3px;
            }
        }
    }

}