@import "../../../utils/fonts/OpenSans.scss";
@import "../../../utils/fonts/Montserrat.scss";
@import "../../../utils/fonts/Quicksand.scss";
@import "../../Inputs/Date-range_double/Date-range_double_default.scss";
@import "../../Inputs/Inputs-with-counter/Inputs-with-counter_default.scss";


.NumberBookerCont{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px;
    & .NumberBooker__info{
        display: inline;
        vertical-align: bottom;
        &>*{
            vertical-align: baseline;
            display: inline;
            &h5{
                text-transform: none;
                font-weight: normal;
                color: rgba(31,32,65,.75);
            }
        }
    }
    & >div:not(.Button_rounded){
        margin-bottom: 20px;
    }

}

.NumberBookerAddits {
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.75);
    margin: 20px 0 30px;
    & .NumberBookerAddits_addit{
        margin-top: 10px;
        &>*{
            vertical-align: top;
            line-height: 20px;
        }
    }
    & .NumberBookerAddit_sign{
        font-size: 12px;
        border: 1px solid rgba(31, 32, 65, 0.25); 
        width: 20px;
        text-align:center; 
        height: 20px; 
        font-weight: 700; 
        border-radius:50%;
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.25) ;
        line-height: 18px;
    }
    &>div{
        display: flex;
        justify-content: space-between;
        &.NumberBookerTotalPrice{
            margin-bottom: 20px;
            margin-top:30px;
            font-size: 19px;
            font-weight: 700;
            font-family: "Quicksand";
            border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
            color: #1F2041;
            &>*{
                line-height: 24px;
                background: white;
                position: relative;
                bottom: -3px;
            }
        }
    }

}