@import "../../utils/_mixin-font.scss";
.range-slider{
    width:100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    &__header{
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
    }
    &__title{
        @include default-font($main-color_darkest, $size-small, $size-small+3, 700, none, uppercase );
        margin: 0;
        padding: 0;
        margin-bottom: 5.5px;
    }
    &__counter{
        @include default-font($main-color_lighter, $size-small, $size-small);
    }
    &__numbers{
        display: none;
    }
    &__slider{
        position: relative;
        height: 6px;
        background: #FFFFFF;
        border: 1px solid $main-color_lightest;
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        &>*{
            cursor: pointer;
        }
    }
    &__selected{
        position: absolute;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        width: 95%;
        height: 6px;
        left: 8px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        top: -2px;
    }
    &__tumbler{
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        position: absolute;
        top: -6px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        z-index: 3;
    }
    &__subscribe{
        margin-bottom: 0;
        margin-top: 16.5px;
        @include default-font($main-color_lighter, $size-small, $size-small);
    }
    
}
