include ../date-picker/_double/date-picker_double.pug
include ../input-with-counter/input-with-counter.pug
include ../button/button.pug

article(class="js-number-finder number-finder")
    h1.number-finder__header Найдём номера под ваши пожелания
    form(class="number-finder__form" name="number-finder")
        div(class="number-finder__container number-finder__container_for_calendar")
            +Date-picker_double({items: [ {placeholder: "ДД.ММ.ГГГГ", label:"прибытие", id:"finder_arrival"},{placeholder: "ДД.ММ.ГГГГ", label:"выезд", id:"finder_departure"} ] })
        div(class="number-finder__container number-finder__container_for_input")
            +inputs-with-counter({ label: 'Гости', placeholder: 'Сколько гостей', items:[ {name: "взрослые", min: "0", max: "5", concat: true}, {name: "дети", nameForm1:"гость", nameForm2:"гостя", nameForm3: "гостей", min: "0", max: "5"}, {name: "младенцы", nameForm1:"младенец", nameForm2: "младенца", nameForm3: "младенцев", min: "0" , max: "5"} ] })
        div(class="number-finder__submit-button")
            +button({ text: 'подобрать номер', styles: ['color_purple'], type: 'button', withArrow: true })

