@import "../../Icons/filling-star.scss";

.NumberDemonstration{
    display: inline-block;
    padding: 0 !important;
    background: #f4f4f6;
    & > .NumberDemonstrationItem{
        margin-bottom: 15px;
        background-color: white;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        & .NumberDemonstrationImageCont{
            position: relative;
            &>img{
                opacity: 1;
                transition-duration: 0.7s;
            }
            & .NumberDemonstrationButtons{
                position: absolute;
                bottom: 20px;
                right: 35px; 
                transform: translateX(-50%);
                &>span{
                    width: 7.5px;
                    height: 7.5px;
                    border-radius: 50%;
                    border: 1px solid white;
                    box-sizing: border-box;
                    cursor: pointer;
                    transition-duration: 0.4s;
                    &+span{
                        margin-left: 4px;
                    }
                    &.NumberDemonstrationButton_active{
                        background-color: white;
                        transition-duration: 0.4s;

                    }
                }
            }
        }

        & .NumberDemonstrationPrice{
            padding: 20px 0px 10px;
            border-bottom: 1px solid rgba(31, 32, 65, 0.15);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-left: 20px;
            margin-right: 20px;
            & span>*{
                line-height: 20px !important;
            }
            & h1{
                font-size: 18px;

            }
            & .CardsPurple{
                font-size: 12px;
            }

        }
        & .NumberDemonstrationRate{
            padding: 8px 20px 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            & h3{
                font-size: 14px;
            }
        }
    }
    & + .NumberDemonstrationItem {
        margin-left: 12px;

    }
    & p{
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: baseline;
    }
    & span{
        display: inline-block;
    }
}