mixin tumblers( { header = ' ', issues = [ ] } = { })
  .tumblers
    if header
      h3.tumblers__header #{header}
    each tumbler in issues
      - let name = tumbler.name
      - let value = tumbler.value 
      - let title = tumbler.title
      - let checked = Boolean(tumbler.checked)
      label.tumblers__item
        input.tumblers__checkbox(type = 'checkbox', name = name, value = value, checked = checked)
        span.tumblers__label(tabindex = 0) 
        span.tumblers__title #{title}
