@import "../../utils/fonts/MaterialIcons.scss";
@import "../../utils/_mixin-font.scss";
.tumblers{
    &__header{
        @include default-font($main-color_darkest, $size-small, $size-small+3, 700, none, uppercase);
        margin: 0;
        margin-bottom: 15px;
    }
    &__label{
        user-select: none;
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
        min-width: 40px;
        min-height: 20px;
        position: relative;
        border: 1px solid $main-color_lightest;
        cursor: pointer;
        border-radius: 25% / 50%;
        transition-duration: 0.5s;
        box-sizing: border-box;
        &::before {
            display: inline-block;
            content: "stop_circle";
            font-family: 'Material Icons';
            color: $main-color_lightest;
            font-size: $size-middle;
            line-height: 18px;
            position: absolute;
            left: 1px;
            transition-duration: 0.5s;
            top: 0px
        }
    }
    &__checkbox{
        display: none;
    }
    &__checkbox:checked{ 
        & + .tumblers__label{ 
            border: 1px solid  $highlight-color;
            transition-duration: 0.5s;
            &::before {
                color: $highlight-color;
                left: 24px;
                transition-duration: 0.5s;
            }
        }
    
    }
    &__subscribe{
        user-select: none;
        vertical-align: middle;
        @include default-font($line: $size-largest);
    }
}

