@import '../../scss/mixin-mi-font';
@import '../../scss/mixin-montserrat-font';

.tumblers {
  $block: &;

  @include montserrat-font();

  color: $main-color;
  font-size: $size-small + 2;
  line-height: $size-largest;

  &__header {
    margin: 0;
    margin-bottom: 15px;
    @include montserrat-font();

    color: $size-largest;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 3;
    text-transform: uppercase;
  }

  &__label {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 40px;
    min-height: 20px;
    margin-right: 10px;
    line-height: 18px;
    vertical-align: top;
    border: 1px solid $main-color_lightest;
    border-radius: 25% / 50%;
    cursor: pointer;
    transition-duration: 0.5s;
    user-select: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      @include mi-font();

      color: $main-color_lightest;
      font-size: $size-larger - 1;
      transition-duration: 0.5s;
      content: 'fiber_manual_record';
    }
  }

  &__checkbox {
    display: none;

    &:checked {
      & + #{$block}__label {
        border: 1px solid $bright-color;
        transition-duration: 0.5s;

        &::before {
          left: 22px;
          color: $bright-color;
          background: $gradient_purple;
          -webkit-background-clip: text;
          transition-duration: 0.5s;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  &__item {
    display: block;
    min-height: 24px;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    user-select: none;
  }
}
