mixin tumblers( { label = '', issues = [ ] })
  .tumblers
    if label
      h3.tumblers__header #{label}
    each tumbler in issues
      - let { name, value, title, checked} = tumbler
      label.tumblers__item
        input.tumblers__checkbox(type = 'checkbox', name = name, value = value, checked = checked)
        span.tumblers__label(tabindex = 0) 
        span.tumblers__title #{title}
