@import "../../../utils/fonts/Montserrat.scss";
.button-rounded{
    display: inline-block;
    min-width: 99px;
    height: 44px;
    border-radius: 22px;
    line-height: 40px;
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    padding: 0;
    margin: 0;
}
.button-rounded_purple{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    border: 2px solid rgb(188, 156, 255);

}
.button-rounded_purple-depr{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
    color: white;
    border: 2px solid rgb(188, 156, 255);
}
.button-rounded_empty{
    background-color: transparent;
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
}
.button-rounded_empty-depr{
background-color: transparent;
    opacity: 0.5;
    color: #BC9CFF;
    border: 2px solid rgba(188, 156, 255, 0.5);
}
