mixin TextField(label, placeholder, describe, active)
    - if(!active){active=''}
    - else{active = ' TextFieldValueactive'}
    div(class=`TextField`)
        
        label(class="TextFieldLabel" style="font-weight:bold") #{label}
            div
                input(class="TextFieldValue"+`${active}` placeholder=`${placeholder}`) 
        p(class="TextFieldDescribe") #{describe}
        