include ../date-picker/date-picker.pug

mixin double-date-picker({ initArrive = '', initDeparture = '' , textfields = [ { }, { } ] })
  .js-double-date-picker.double-date-picker
    .double-date-picker__container.js-double-date-picker__container(data-init = initArrive)
      +date-picker({ textfield: textfields[0], initArrive, initDeparture})
    .double-date-picker__container.js-double-date-picker__container(data-init = initDeparture)
      +date-picker({ textfield: textfields[1], initArrive, initDeparture})
