@import '../../scss/_mixin-default-font.scss';
@import '../date-picker/date-picker.scss';

.double-date-picker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include default-font($main-color_lighter);

  &__container {
    position: relative;
    display: inline-block;
    max-width: 150px;
  }
}
