@import '../../scss/_mixin-montserrat-font.scss';
@import '../date-picker/date-picker.scss';

.double-date-picker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include montserrat-font();

  color: $main-color_lighter;

  &__container {
    position: relative;
    display: inline-block;
    max-width: 150px;
  }
}
