include ../../Inputs/Text-field/Text-field.pug
include ../../Checkbox/Radio/Radio.pug
include ../../Inputs/Mask_DMY/Mask_DMY.pug
include ../../Checkbox/Tumblers/Tumblers.pug
include ../../Buttons/Button-rounded/Button-rounded.pug
include ../../Buttons/Button_with_arrow/Button_with_arrow.pug

div(class="registration")
    h1 Регистрация аккаунта
    form(name="registration" class="registration__form")
        div(class="registration__names")
            +Text-field('', 'Имя', '')
            +Text-field('', 'Фамилия', '')
        div(class="registration__sex")
            +Radio('', 'sex', {id:'genderMan', describe:'Мужчина', checked:true},{id:'genderFem', describe:'Женщина'} )
        div(class="registration__date")
            +Mask_DMY('ДАТА РОЖДЕНИЯ', "ДД.ММ.ГГГГ", '')
        div(class="registration__entry-data")
            h3 данные для входа в сервис
            +Text-field('', 'Email', '')
            +Text-field('', 'Пароль', '')
        div(class="registration__receiving-offers")
            +Tumblers('', {id:'allowOfferts', name:'Получать спецпредложения'})
        div(class="registration__payment")
            +Button_with_arrow('Перейти к оплате')
    div(class="registration__subscribe")
        p Уже есть аккаунт на Toxin
        +Button-rounded('войти', 'empty')



