extends ../../layout/layoutUIkit.pug
block variables
block head
    title= WebsitePages
block content 
    div.sidebar
        div.cursor
            h1(id="ui") UI-kit
            br 
            h1(id="pages") Website Pages
    div(class="link_container sitepages")  
        div 
            a(href="./LandingPage/LandingPage.html") Landing Page
        br 
        div
            a(href="./SearchRoom_Filter/SearchRoom_Filter.html") SearchRoom/ Filter
        br 
        div
            a(href="./RoomDetails/RoomDetails.html") Room Details
        br 
        div
            a(href="./Registration/Registration.html") Registration
    div(class="link_container sitepages")   
        div
            a(href="./landingPage_DateDropdown/landingPage_DateDropdown.html") landing Page/ Date Dropdown
        br 
        div
            a(href="./Search_room_Filter_PreferencesDropdown/Search_room_Filter_PreferencesDropdown.html") Search room/ Filter Preferences Dropdown
        br 
        div
        br 
        div
            a(href="./Login/Login.html") Sign In
    div(class="link_container sitepages")    
        div
            a(href="./landingPage_GuestDropdown/landingPage_GuestDropdown.html") landing Page/ Guest Dropdown
        br 
        div
            a(href="./Search_room_Filter_PreferencesExpandableCheckboxList/Search_room_Filter_PreferencesExpandableCheckboxList.html") Search room/ Filter Preferences Expandable Checkbox List
        br
        div 
        br 
        div
    div(class="link_container uikit")  
        div 
            a(href="./UI-kit/colorAndTypes/colorAndTypes.html") colorAndTypes
        br 
        div
            a(href="./UI-kit/FormElements/FormElements.html") FormElements
        
    div(class="link_container uikit")   
        div
            a(href="./UI-kit/Cards/Cards.html") Cards
    div(class="link_container uikit")    
        div
            a(href="./UI-kit/HeadersAndFooters/HeadersAndFooters.html") HeadersAndFooters
        

 
block script
