@import '../../assets/variables';
@import '../../assets/mixin-font';
@import '../../layout/layout-for-hotel.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/cellar/cellar.scss';
@import '../../blocks/date-picker/date-picker.scss';
@import '../../blocks/input-with-counter/input-with-counter.scss';
@import '../../blocks/checkboxes/checkboxes.scss';
@import '../../blocks/pagination/pagination.scss';
@import '../../blocks/number-demo/number-demo.scss';
@import '../../blocks/range-picker/range-picker.scss';

.content {
  padding: 30px 0 70px;
  background-color: white;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
  }

  &__forms {
    min-width: 266px;
    margin-top: 3px;
    margin-right: 60px;
    @media (max-width: 600px) {
      margin: 0 20px 0;
      text-align: center;
    }
  }
  &__date-picker {
    margin-bottom: 20.5px;
  }
  &__guest-counter {
    margin-bottom: 32px;
  }
  &__price-picker {
    margin-bottom: 30px;
  }
  &__rules {
    margin-bottom: 25px;
  }
  &__availability {
    margin-bottom: 20px;
  }
  &__equipment-counter {
    margin-bottom: 16px;
  }
  &__facilities {
    margin-bottom: 30px;
  }

  &__heading {
    @include default-font(
      $main-color_darkest,
      $size-largest,
      $size-largest + 6,
      700
    );

    margin: 0;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
  &__numbers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 600px) {
      justify-content: center;
    }
  }
  &__pagination {
    margin-top: 41px;
    padding-right: 9px;
    text-align: center;
  }
}
.footer-container {
  border-top: 2px solid rgba(31, 32, 65, 0.15);
}
