extends ../../layout/layout-for-hotel.pug
include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/cellar/cellar.pug
include ../../blocks/date-picker/date-picker.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/range-picker/range-picker.pug
include ../../blocks/checkboxes/checkboxes.pug
include ../../blocks/room-demo/room-demo.pug
include ../../blocks/pagination/pagination.pug
block variables

  - let img1 = require('./img/room-picture-1.jpg').default
  - let img2 = require('./img/room-picture-2.jpg').default
  - let img3 = require('./img/room-picture-3.jpg').default
  - let img4 = require('./img/room-picture-4.jpg').default
  - let img5 = require('./img/room-picture-5.jpg').default
  - let img6 = require('./img/room-picture-6.jpg').default
  - let img7 = require('./img/room-picture-7.jpg').default
  - let img8 = require('./img/room-picture-8.jpg').default
  - let img9 = require('./img/room-picture-9.jpg').default
  - let img10 = require('./img/room-picture-10.jpg').default
  - let img11 = require('./img/room-picture-11.jpg').default
  - let img12 = require('./img/room-picture-12.jpg').default

block head
  title SearchRoom_Filter
  meta(name = 'keywords', content = 'keywords')
  meta(name = 'description', content = 'description')

block header
  +header({ 
    menu: { 
      login: false, 
      issues: [ 
        {name: 'О нас', href:'/about_us/'},
        {name: 'Услуги', blocks:[{href:'/services1/', name:'Some'},{href:'/services3/', name:'Some else'}, {href:'/services3/', name:'Nevermind'} ]}, 
        {name: 'Вакансии', href:'/list/' },
        {name: 'Новости', href:'/news/' },
        {name: 'Соглашения', blocks:[{href:'/convience1/', name:'Some'},{href:'/convience2/', name:'Some else'}] } 
      ],
      autorization: {
        signinButton: 'войти',
        signupButton: 'зарегестрироваться'
      }
    }, 
  })
block content
  section.content__filters 
    form.content__forms(action = '')
      .content__date-picker
        +date-picker({ 
          textfield: { label: 'Даты пребывания в отеле', placeholder: 'Выберете период' },
        })
      .content__guest-counter
        +dropdown({
          textfield: {
            label: 'Гости', 
            placeholder: 'Сколько гостей',
          },
          items:[ 
            {name: "взрослые", min: "0", max: "5", concat: true }, 
            {name: "дети", nameForms:"гость, гостя, гостей", min: "0", max: "5"}, 
            {name: "младенцы", nameForms: "младенец, младенца, младенцев", min: "0" , max: "5"} 
          ],
          buttons: true, 
          deleteButtonText: 'очистить', 
          confirmButtonText: 'подтвердить',
        })     
      .content__price-picker
        +range-picker({ 
          title: "Диапазон цены", 
          describe: "Стоимость за сутки прибывания в номере", 
          keys: "{type, orient, scale, cloud, origin, range, step, initStart, initEnd", 
          values: "range, horizontal, , none, 500, 15000, 500, 5000, 10000" 
        })
       
      .content__rules
        +checkboxes({ 
          header: 'правила дома',
          checkboxes: [
            {title:'Можно курить', value: 'smoking', name: 'smoking',}, 
            {title:'Можно с питомцами', value: 'allowed', name: 'pets', checked:'true'},
            {title:'Можно пригласить гостей (до  10  человек)', value: 'allowed', name: 'guests', checked:'true'}
          ] 
        })
      .content__availability
        +checkboxes({
          header: 'доступность', 
          checkboxes: [ 
            {title:'Широкий коридор', subtitle:'Ширина коридоров в номере не  менее  91  см.', name: 'wide corridor', value: 'included'}, 
            {title:'Помощник для инвалидов', subtitle:'На 1 этаже вас встретит специалист  и проводит до номера.', name: 'helper for the disabled', value: 'included'} 
          ] 
        })
      
      .content__equipment-counter
        +dropdown({
          thin: true,
          textfield: {
            label: "удобства номера", 
            placeholder: 'Выберете комплектацию', 
          },
          items: [
            {name: "спальни", min: "0", max: "5", nameForms: 'спальня, спальни, спалень'}, 
            {name: "кровати", min: "0", max: "5", nameForms: 'кровать, кровати, кроватей'}, 
            {name: "ванные комнаты", min: "0", max: "5", nameForms: 'ванная комната, ванные комнаты, ванных комнат'}
          ] 
        }) 
      .content__facilities 
        +checkboxes({ 
          header: 'дополнительные удобства', 
          expanding: true, 
          expanded: false,
          checkboxes: [ 
            {title:'Завтрак', name: 'breakfast', value: 'included'}, 
            {title:'Письменный стол', checked:'true', name: 'desk', value: 'included'}, 
            {title:'Стул для кормления', name: 'feeding table', value: 'included', checked:'true'}, 
            {title:'Кроватка', name: 'crib', value: 'included', checked:'true'}, 
            {title:'Телевизор', name: 'TV', value: 'included'}, 
            {title:'Шампунь', name: 'shampoo', value:'included'}, 
            {title:'Телевизор', name: 'TV', value:'included'}, 
            {title:'Шампунь', name: 'shampoo', value: 'included'}
          ] 
        })
  
  section.content__numbers-demonstration
    h1.content__heading Номера, которые мы для вас подобрали
    .content__numbers-list
      +room-demo({ number: 888, category: 'люкс', price: 9990, rate: 5, reviews: 145, pictures:[img1, img3, img5, img7] })
      +room-demo({ number: 840, price: 9900, rate: 4, reviews: 65, pictures:[img2,img4,img5,img9] })
      +room-demo({ number: 980, category: 'люкс', price: 8500, rate: 3, reviews: 35, pictures:[img3,img2,img5,img9] })
      +room-demo({ number: 856, price: 7300, rate: 5, reviews: 19, pictures:[img4,img2,img5,img9] })
      +room-demo({ number: 740, price: 6000, rate: 4, reviews: 44, pictures:[img5,img2,img7,img9] })
      +room-demo({ number: 982, price: 5800, rate: 3, reviews: 56, pictures:[img6,img2,img5,img9] })
      +room-demo({ number: 678, price: 5500, rate: 5, reviews: 45, pictures:[img7,img2,img5,img9] })
      +room-demo({ number: 450, price: 5300, rate: 4, reviews: 39, pictures:[img8, img3, img5, img7] })
      +room-demo({ number: 350, price: 5000, rate: 3, reviews: 77, pictures:[img9,img2,img5,img1] })
      +room-demo({ number: 666, price: 5000, rate: 5, reviews: 25, pictures:[img10,img2,img5,img9] })
      +room-demo({ number: 444, price: 5000, rate: 3, reviews: 15, pictures:[img11,img2,img5,img9] })
      +room-demo({ number: 352, price: 5000, rate: 3, reviews: 55, pictures:[img12,img2,img5,img9] })
    .content__pagination()
      +pagination({ amount:15} )
block footer
  +footer({info: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', heading2: 'Подписка', info2: 'Получайте специальные предложения и новости сервиса', refs: [{caption:'Навигация', links:[{href: '/about/',desc: 'О нас'},{href: '/news/',desc: 'Новости'},{href: '/support/',desc: 'Служба поддержки'},{href: '/services/',desc: 'Услуги'} ]}, {caption:'О нас', links:[{href: '/about_service/',desc: 'О сервисе'},{href: '/team/',desc: 'Наша команда'},{href: 'list/',desc: 'Вакансии'},{href: '/investors/',desc: 'Инвесторы'} ]}, {caption:'Служба поддержки', links:[{href: '/convience/',desc: 'Соглашения'},{href: '/comm/',desc: 'Сообщества'},{href: '/connection/',desc: 'Связь с нами'}] } ]} )
block cellar  
  +cellar({ text: 'Copyright © 2018 Toxin отель. Все права зачищены.', links: [{link: '/twit/', class: 'fa-twitter'}, {link:'/fb/', class: 'fa-facebook-square'}, {link:'/inst/', class: 'fa-instagram'}] })
block script
