extends ../../layout/layout-for-hotel.pug
include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/cellar/cellar.pug
include ../../blocks/date-picker/date-picker.pug
include ../../blocks/input-with-counter/input-with-counter.pug
include ../../blocks/range-picker/range-picker.pug
include ../../blocks/checkboxes/checkboxes.pug
include ../../blocks/number-demo/number-demo.pug
include ../../blocks/pagination/pagination.pug
block variables

  - let img1 = require('./img/room-picture-1.jpg').default
  - let img2 = require('./img/room-picture-2.jpg').default
  - let img3 = require('./img/room-picture-3.jpg').default
  - let img4 = require('./img/room-picture-4.jpg').default
  - let img5 = require('./img/room-picture-5.jpg').default
  - let img6 = require('./img/room-picture-6.jpg').default
  - let img7 = require('./img/room-picture-7.jpg').default
  - let img8 = require('./img/room-picture-8.jpg').default
  - let img9 = require('./img/room-picture-9.jpg').default
  - let img10 = require('./img/room-picture-10.jpg').default
  - let img11 = require('./img/room-picture-11.jpg').default
  - let img12 = require('./img/room-picture-12.jpg').default

block head
  title SearchRoom_Filter
  meta(name="keywords", content="keywords")
  meta(name="description", content="description")

block header
  +header({ menu: { login: false, issues: [ {name: "О нас", href:"/about_us/"},{name: "Услуги", blocks:[{href:"/services1/", name:"Some"},{href:"/services3/", name:"Some else"}, {href:"/services3/", name:"Nevermind"} ]}, {name: "Вакансии", href:"/list/" },{name: "Новости", href:"/news/" },{name: "Соглашения", blocks:[{href:"/convience1/", name:"Some"},{href:"/convience2/", name:"Some else"}] } ] } })

block content
  section.content__filters 
    form.content__forms
      div.content__date-picker
        +date-picker({ initArrive: 4, initDeparture: 8})
      div.content__guest-counter
        +inputs-with-counter({ label: 'Гости', placeholder: 'Сколько гостей', items:[ {name: "взрослые", min: "0", max: "5", init: 2, concat: true}, {name: "дети", nameForm1:"гость", nameForm2:"гостя", nameForm3: "гостей", min: "0", max: "5", init: 1}, {name: "младенцы", nameForm1:"младенец", nameForm2: "младенца", nameForm3: "младенцев", min: "0" , max: "5", init: 1} ] })
      
      div.content__price-picker
        +range-picker({ desc:"Диапазон цены", subscribe: "Стоимость за сутки прибывания в номере", keys: "{type, orient, scale, cloud, origin, range, step, initStart, initEnd", values: "range, horizontal, , none, 1000, 15000, 500, 5000, 10000" })
       
      div.content__rules
        +checkboxes({ 
          header: 'правила дома',
          checkboxes: [
            {subscription:'Можно курить', value: 'smoking', name: 'smoking',}, 
            {subscription:'Можно с питомцами', value: 'allowed', name: 'pets', checked:"true"},
            {subscription:'Можно пригласить гостей (до 10 человек)', value: 'allowed', name: 'guests', checked:"true"}
          ] 
        })
      div.content__availability
        +checkboxes({
          header: 'доступность', 
          checkboxes: [ 
            {subscription:'Широкий коридор', description:'Ширина коридоров в номере не менее 91 см.', name: 'wide corridor', value: 'included'}, 
            {subscription:'Помощник для инвалидов', description:'На 1 этаже вас встретит специалист  и проводит до номера.', name: 'helper for the disabled', value: 'included'} 
          ] 
        })
      
      div.content__equipment-counter
        +inputs-with-counter({type: 'simple', label: "удобства номера", placeholder: 'Выберете комплектацию', items: [{name: "спальни", min: "0", max: "5", nameForm1: 'спальня', nameForm2: 'спалень', nameForm3: 'спалень', init: 2}, {name: "кровати", min: "0", max: "5", nameForm1: 'кровать', nameForm2: 'кровати', nameForm3: 'кроватей', init: 2}, {name: "ванные комнаты", min: "0", max: "5", nameForm1: 'ванная комната', nameForm2: 'ванные комнаты', nameForm3: 'ванных комнат', init: 1}] })
      
      div.content__facilities 
        +checkboxes({ 
          header: 'дополнительные удобства', 
          expanding: true, 
          expanded: true,
          checkboxes: [ 
            {subscription:'Завтрак', name: 'breakfast', value: 'included'}, 
            {subscription:'Письменный стол', checked:"true", name: 'desk', value: 'included'}, 
            {subscription:'Стул для кормления', name: 'feeding table', value: 'included', checked:"true"}, 
            {subscription:'Кроватка', name: 'crib', value: 'included', checked:"true"}, 
            {subscription:'Телевизор', name: 'TV', value: 'included'}, 
            {subscription:'Шампунь', name: 'shampoo', value:'included'}, 
            {subscription:'Телевизор', name: 'TV', value:'included'}, 
            {subscription:'Шампунь', name: 'shampoo', value: 'included'}
          ] 
        })
  
  section.content__numbers-demonstration
    h1.content__heading Номера, которые мы для вас подобрали
    div.content__numbers-list
      +number-demo({ number: 888, category: "люкс", price: 9990, rate: 5, reviews: 145, pictures:[img1, img3, img5, img7] })
      +number-demo({ number: 840, price: 9900, rate: 4, reviews: 65, pictures:[img2,img4,img5,img9] })
      +number-demo({ number: 980, category: "люкс", price: 8500, rate: 3, reviews: 35, pictures:[img3,img2,img5,img9] })
      +number-demo({ number: 856, price: 7300, rate: 5, reviews: 19, pictures:[img4,img2,img5,img9] })
      +number-demo({ number: 740, price: 6000, rate: 4, reviews: 44, pictures:[img5,img2,img7,img9] })
      +number-demo({ number: 982, price: 5800, rate: 3, reviews: 56, pictures:[img6,img2,img5,img9] })
      +number-demo({ number: 678, price: 5500, rate: 5, reviews: 45, pictures:[img7,img2,img5,img9] })
      +number-demo({ number: 450, price: 5300, rate: 4, reviews: 39, pictures:[img8, img3, img5, img7] })
      +number-demo({ number: 350, price: 5000, rate: 3, reviews: 77, pictures:[img9,img2,img5,img1] })
      +number-demo({ number: 666, price: 5000, rate: 5, reviews: 25, pictures:[img10,img2,img5,img9] })
      +number-demo({ number: 444, price: 5000, rate: 3, reviews: 15, pictures:[img11,img2,img5,img9] })
      +number-demo({ number: 352, price: 5000, rate: 3, reviews: 55, pictures:[img12,img2,img5,img9] })
    div.content__pagination()
      +pagination({ amount:15} )
block footer
  +footer({info: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»", heading2: 'Подписка', info2: 'Получайте специальные предложения и новости сервиса', refs: [{caption:"Навигация", links:[{href: "/about/",desc: "О нас"},{href: "/news/",desc: "Новости"},{href: "/support/",desc: "Служба поддержки"},{href: "/services/",desc: "Услуги"} ]}, {caption:"О нас", links:[{href: "/about_service/",desc: "О сервисе"},{href: "/team/",desc: "Наша команда"},{href: "list/",desc: "Вакансии"},{href: "/investors/",desc: "Инвесторы"} ]}, {caption:"Служба поддержки", links:[{href: "/convience/",desc: "Соглашения"},{href: "/comm/",desc: "Сообщества"},{href: "/connection/",desc: "Связь с нами"}] } ]} )
block cellar  
  +cellar({ text: "Copyright © 2018 Toxin отель. Все права зачищены.", links: [{link: "/twit/", class: "fa-twitter"}, {link:"/fb/", class: "fa-facebook-square"}, {link:"/inst/", class: "fa-instagram"}] })
block script