include ../../Inputs/Text-field/Text-field.pug
include ../../Buttons/Button_with_arrow/Button_with_arrow.pug
include ../../Buttons/Button-rounded/Button-rounded.pug

article(class="entry-form")
    h1.entry-form__header Войти
    form.entry-form__form(name="entry-form")
        +Text-field('', 'Email', '')
        +Text-field('', 'Пароль', '')
        +Button_with_arrow('Войти')
    div(class="entry-form__registration")
        p.entry-form__text Нет аккаунта на Toxin?
        +Button-rounded('создать', 'empty')