mixin date-mask({ label, placeholder, describe })
    include ../../blocks/text-field/text-field.pug
    div(class= "js-date-mask date-mask")
        +text-field({label, placeholder, describe})
        