@import '../../scss/mixin-montserrat-font';
@import '../checkbox/checkbox.scss';

.checkboxes {
  $block: &;

  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;

  &__header {
    @include montserrat-font();

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 44px;
    padding: 0;
    color: $main-color_darkest;
    font-weight: 700;
    font-size: $size-small;
    line-height: 44px;
    text-transform: uppercase;
    user-select: none;
  }

  &__arrow {
    display: inline-block;
    min-width: 44px;
    max-height: 44px;
    color: $main-color_lighter;
    line-height: 44px;
    text-align: center;
    text-transform: none;
    transform: rotateX(180deg);
  }

  &__item {
    margin-top: 1px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &_shrinked {
    & #{$block}__container {
      display: none;
    }

    & #{$block}__arrow {
      transform: none;
    }
  }
}
