@import '../../assets/styles/mixin-font';
@import '../checkbox/checkbox.scss';
.checkboxes {
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;
  &__header {
    @include default-font(
      $main-color_darkest,
      $size-small,
      $size-small + 3,
      700,
      none,
      uppercase
    );

    margin: 0;
    margin-bottom: 16.5px;
    padding: 0;

    &_expanding {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 44px;
      margin: 0;
      padding: 0;
      line-height: 44px;
      cursor: pointer;
      user-select: none;
      & + .checkboxes__container {
        display: none;
        &_visible {
          display: block;
        }
      }
    }
  }
  &__arrow {
    min-width: 44px;
    max-height: 44px;
    color: $main-color_lighter;
    line-height: 44px;
    text-align: center;
    text-transform: none;
  }
  &__item {
    margin-bottom: 10px;
  }
}
