include ../checkbox/checkbox.pug
mixin checkboxes({ header = '', checkboxes = [ ], expanding = false, expanded = false} = { })
  fieldset.checkboxes.js-checkboxes
    if header
      legend.checkboxes__header.js-checkboxes__header(class = `${expanding ? 'js-checkboxes__header_expanding checkboxes__header_expanding' : ''}`, tabindex = expanding ? 0 : -1, data-expanded = expanded) #{header}
        if expanding 
          span.js-checkboxes__arrow.checkboxes__arrow
            +arrow({ direction: 'down' })
    .checkboxes__container.js-checkboxes__container
      each checkbox in checkboxes
        .checkboxes__item
          +checkbox( checkbox )
