@import "../../utils/fonts/Montserrat.scss";
@import "../../utils/fonts/MaterialIcons.scss";
.checkboxes{
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    &__header{
        text-transform: uppercase;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        color: rgba(31, 32, 65, 1)
    }
    
    &__item{
        margin-bottom: 10px;
    }
    &__checkbox{
        display: none;
        margin-right: 10px;
    
        & + .checkboxes__label{ 
            user-select: none;
            display: inline-block;
            vertical-align: top;
            &::before {
                content:'';
                display: inline-block;
                position: relative;
                width: 20px;
                height: 20px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                box-sizing: border-box;
                border-radius: 4px;
                border-image: initial;
                vertical-align: top;
                cursor: pointer;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                margin-right: 10px;
            }
        }
    }
    &__checkbox:checked{ 
        & + .checkboxes__label{
            &::before {
                content: "check";
                font-family: 'Material Icons';
                color: #BC9CFF;
                border: 1px solid #BC9CFF ;
            }  
        }
    }
    &__text{
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: rgba(31, 32, 65, 0.5);
        display: inline-block;
        margin: 0px;
        max-width: 200px;
        vertical-align: middle;
        user-select: none;
        padding-top: 1px;
    }
}