include ../../../Inputs/Date-range_double/Date-range_double.pug
include ../../../Inputs/Inputs-with-counter/Inputs-with-counter.pug
include ../../../Buttons/Button_with_arrow/Button_with_arrow.pug

mixin Number-finder_type_double(id, ...props)
    div(class="number-finder number-finder_type_double")
        h1 Найдём номера под ваши пожелания
        form(name="number-finder")
            div(class="number-finder__container number-finder__container_for_calendar")
                +Date-range_double(props)
            div(class="number-finder__container number-finder__container_for_input" data-counter="simple")
                +Inputs-with-counter('Гости', 'Сколько гостей', '',{name: "взрослые", min: "0", max: "5", base: "2"}, {name: "дети", min: "0", max: "5", base: "1"}, {name: "младенцы", min: "0", max: "5", base: "0"} )
            +Button_with_arrow('подобрать номер')

