mixin textfiel-for-sending({ label='', placeholder='Введите текст', describe='', type='text'}={})
    - if(!describe){describe=''}
    div(class=`js-textfiel-for-sending textfiel-for-sending`)
        span.textfiel-for-sending__arrow.js-textfiel-for-sending__arrow
            include ../../static/figures/arrow-right/arrow-right.pug 
        label 
            if label
                h3.textfiel-for-sending__subscribe #{label}
            input(class="js-textfiel-for-sending__value textfiel-for-sending__value" placeholder=placeholder type=type) 
        p(class="textfiel-for-sending__describe") #{describe}
        