extends ../../layout/layoutUIkit.pug
include ../../includes/Inputs/TextField/TextField.pug
include ../../includes/Inputs/WithDropdown/WithDropdown.pug
include ../../includes/Inputs/Mask_d-m-y/Mask_d-m-y.pug
include ../../includes/Inputs/Date-picker/Date-picker.pug
include ../../includes/Inputs/Date-range/Date-range.pug
include ../../includes/Inputs/Field-with-arrow/Field-with-arrow.pug
include ../../includes/Inputs/Inputs-with-counter/Inputs-with-counter.pug
include ../../includes/Checkbox/Dropping_checkbox/Dropping_checkbox.pug

block variables

block head
    title= FormElements
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="FormElements.css")
block content
    span(class="bird")
        include ../../includes/Images/logo.img.svg
    .FormElementsWrapper
        .ForemElementsConteiner
            +TextField('TEXT FIELD', 'Email', 'DEFAULT')
            +TextField('TEXT FIELD', 'This is pretty awesome ', 'HOVER/FOCUS', 'active').example
            +WithDropdown('DROPDOWN', 'Сколько гостей', 'DEFAULT')
            +Mask_d-m-y('MASKED TEXT FIELD', 'ДД.ММ.ГГГГ', 'DEFAULT' )
            div(style="display: flex; justify-content: space-between; width: 320px")
                +Date-picker('DATE DROPDOWN', 'ДД.ММ.ГГ')
                +Date-picker('DATE DROPDOWN', 'ДД.ММ.ГГ', 'filled-picker')
            +Date-range('FILTER DATE DROPDOWN', 'Период', 'filled-picker')
            +Field-with-arrow('SUBSCRIPTION TEXT FIELD', 'Email')
            +Dropping_checkbox('expandable checkbox list', {name:'Завтрак'},{name:'Письменный стол', checked},{name:'Стул для кормления', checked})
        .ForemElementsConteiner
        .ForemElementsConteiner
        .ForemElementsConteiner_hor
            +Inputs-with-counter('DROPDOWN', '2 спальни, 2 кровати', 'DEFAULT', {name: "спальни", min: "0", max: "5", base: "2"}, {name: "кровати", min: "0", max: "5", base: "2"}, {name: "ванные комнаты", min: "0", max: "5", base: "0"} )
block script