extends ../../layout/layoutUIkit.pug
include ../../includes/Inputs/TextField/TextField.pug
include ../../includes/Inputs/WithDropdown/WithDropdown.pug
include ../../includes/Inputs/Mask_d-m-y/Mask_d-m-y.pug
include ../../includes/Inputs/Date-picker/Date-picker.pug
include ../../includes/Inputs/Date-range/Date-range.pug
block variables

block head
    title= FormElements
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="FormElements.css")
block content
    span(class="bird")
        include ../../includes/Images/logo.img.svg
    .FormElementsWrapper
        .ForemElementsConteiner
            +TextField('TEXT FIELD', 'Email', 'DEFAULT')
            +TextField('TEXT FIELD', 'This is pretty awesome ', 'HOVER/FOCUS', 'active').example
            +WithDropdown('DROPDOWN', 'Сколько гостей', 'DEFAULT')
            +Mask_d-m-y('MASKED TEXT FIELD', 'ДД.ММ.ГГГГ', 'DEFAULT' )
            div(style="display: flex; justify-content: space-between; width: 320px")
                +Date-picker('DATE DROPDOWN', 'ДД.ММ.ГГ')
                +Date-picker('DATE DROPDOWN', 'ДД.ММ.ГГ', 'filled-picker')
            +Date-range('FILTER DATE DROPDOWN', 'Период', 'filled-picker')
        .ForemElementsConteiner
        .ForemElementsConteiner

block script

