@import "../../layout/layoutUIkit.scss";
@import "../../utils/fonts/Montserrat.scss";
@import "../../utils/fonts/Quicksand.scss";
@import "../../includes/Inputs/TextField/TextField_default.scss";
@import "../../includes/Inputs/TextField/TextField_active.scss";
@import "../../includes/Inputs/WithDropdown/WithDropdown_default.scss";
@import "../../includes/Inputs/WithDropdown/WithDropdown_active.scss";
@import "../../../assets/css/bootstrap.min.css";
@import "../../includes/Inputs/Mask_d-m-y/Mask_d-m-y_default.scss";
@import "../../includes/Inputs/Mask_d-m-y/Mask_d-m-y_active.scss";
@import "../../includes/Inputs/Date-picker/Date-picker_default.scss";
@import "../../includes/Inputs/Date-range/Date-range_default.scss";
@import "../../includes/Inputs/Field-with-arrow/Field-with-arrow_default.scss";
@import "../../includes/Inputs/Field-with-arrow/Field-with-arrow_active.scss";

.bird{
	position: absolute;
	left: 3rem;
	top: 3rem;
};
.FormElementsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}
.ForemElementsConteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
div{
    z-index: 0;
}
input{
    padding-left: 15px;
}