@import '../../scss/mixin-font';
@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/cellar/cellar.scss';
@import '../../blocks/room-search/room-search.scss';
@import '../../layout/layout-for-hotel.scss';

.landing-page__wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 1180px;
  height: 100%;
  margin: auto;
  padding: 0 10px;
}

.landing-page__header {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  padding: 15px 0;
  background-color: white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.landing-page__content {
  position: relative;
  z-index: 9;
  box-sizing: border-box;
  min-width: 320px;
  margin: auto;
  background-image: url('./img/landing-background-3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .landing-page__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 70px);

    @media (max-width: 660px) {
      flex-wrap: wrap;
      justify-content: center;
      min-height: 530px;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('./img/landing-background-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    animation: sliding-after 30s linear 0s infinite;
    content: '';
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('./img/landing-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    animation: sliding-before 30s linear 0s infinite;
    content: '';
  }
}

.landing-page__searcher-container {
  align-self: flex-start;
  margin: 70px 0;
  @media (max-width: 660px) {
    width: auto;
  }
}

.landing-page__text-container {
  align-self: flex-end;
  margin-bottom: 20px;
  @media (max-width: 660px) {
    width: auto;
  }
}

.landing-page__text {
  @include default-font($line: $size-largest);

  max-width: 280px;
  min-height: 48px;
  margin: 0;
  margin-right: -6px;
  text-align: right;

  @media (max-width: 1165px) {
    margin-right: 5px;
  }
}

.landing-page__footer {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.landing-page__cellar {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  background-color: white;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}

@keyframes sliding-before {
  26% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }
}
@keyframes sliding-after {
  60% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  92% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
}
