@import '../../scss/mixin-montserrat-font';

.color-icon {
  &__container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
  }

  &__color {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }

  &__title,
  &__subtitle {
    display: inline-block;
    margin: 0;
    padding: 0;
    @include montserrat-font();

    font-weight: 700;
    font-size: $size-larger;
    line-height: $size-largest;
  }

  &__subtitle {
    font-weight: 400;
  }
}
