@import '../../scss/mixin-default-font';

.color-icon {
  &__container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
  }

  &__color {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }

  &__title,
  &__subtitle {
    display: inline-block;
    margin: 0;
    padding: 0;
    @include default-font(
      $size: $size-larger,
      $line: $size-largest + 1,
      $weight: 700
    );
  }

  &__subtitle {
    font-weight: 400;
  }
}
