mixin Sticker(icon, describe, subscribe)
    div(class="sticker")
        span(class="sticker__img") #{icon}
        span.sticker__text
            p.sticker__describe #{describe}
            br
            p.sticker__subscribe #{subscribe}