mixin Sticker(header, ...stickers)
    article.sticker
        if header 
            h2.sticker__header #{header}
        each sticker in stickers
            section(class="sticker__item-container")
                span.sticker__img #{sticker.icon}
                span.sticker__text
                    strong.sticker__describe #{sticker.describe}
                    p.sticker__subscribe #{sticker.subscribe}