@import "../../../utils/fonts/MaterialIcons.scss";
@import "../../Icons/arrow-down.scss";


.WithDropdown_textfield{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14.5px;
    width: 320px;
    position: relative;
    margin-bottom: 2rem;
    z-index: 10;

};
.WithDropdown_describe{
    color: rgba(31, 32, 65, 0.5);
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
};
label{
    display: block;
    margin-bottom: 0%;
};
.WithDropdown{
    &::placeholder{
        color: rgba(31, 32, 65, 0.75);
    }
};
.WithDropdown-menu{
    position: absolute;
    top: 100%;
    left: 0%;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    border-radius: 15px;
    font-family: 'Montserrat';
    width: 280px;
    z-index: 10;
    background-color: white;
};
.WithDropdown-element{
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.155);
    padding: 15px;
    display: none;
    z-index: 10;
    background-color: white;
}

