mixin Date-range(label, placeholder, id)
    div(class=`js-date-range date-range`)
        include ../../../static/Icons/arrow-down.pug 
        label
            if label
                h3 #{label}
            input(id=`${id}` class="js-date-range__value date-range__value" placeholder=`${placeholder}`)