mixin Date-range(label, placeholder, id)
    div(class=`date-range`)
        include ../../../static/Icons/arrow-down.pug 
        label
            if label
                h3 #{label}
            input(id=`${id}` class="date-range__value" placeholder=`${placeholder}`)