mixin Date-range(label, placeholder, id, filled)
    div(class=`Date-range`)
        include ../../../static/Icons/arrow-down.pug 
        label
            if label
                h3 #{label}
            input(id=`${id}` class="Date-range__value" placeholder=`${placeholder}`)