@import "../Checkbox/Buttons_liker/Buttons_liker.scss";

.Review-shape{
    max-width: 720px;
    margin-top: 23px;

    & .Review-shape__header{
        & .Review-shape__img{
            width: 50px;
            text-align: center;
            margin-right: 10px;
        }
        & span{
            display: inline-block;
            vertical-align: top;
            & h4{
                color: rgba(31, 32, 65, 0.75);
                line-height: 24px;
                margin-bottom: 0;
                margin: 0;
                text-transform: none;
                font-size: 14px;
            }
            & p{
                line-height: 24px;
                font-family: 'Montserrat';
                margin-top: 0;
                font-size: 14px;
            }
        }}
    & .Review-shape__content{
        justify-content: start;
        display: flex;
        margin-top: 12px;
        & .Review-shape__liker{
            width: 50px;
            margin-right: 10px;
            & .Buttons_liker_head{
                margin: 0;
            }
            & .Buttons_liker_cont{
                text-align: center;
            }
        }
        & .Review-shape__review{
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            
        }
    }
}

    