extends ../../layout/layout-for-hotel.pug
include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/cellar/cellar.pug
include ../../blocks/pictures-demo/pictures-demo.pug
include ../../blocks/stickers/stickers.pug
include ../../blocks/diagram/diagram.pug
include ../../blocks/review/review.pug
include ../../blocks/marked-list/marked-list.pug
include ../../blocks/room-preview/room-preview.pug

block variables
  - const blockClass = 'room-details'

  - const largeDemoImg = require('../../../assets/images/room-detail-1.jpg').default
  - const smallDemoImg = require('../../../assets/images/room-detail-2.jpg').default
  - const smallDemoImg2 = require('../../../assets/images/room-detail-3.jpg').default
  - const reviewsData = require('../../../assets/testConfig/reviews.js').default
  
block head
  title RoomDetails

block header
  +header({ 
    indexHref: './LandingPage.html',
    menu: { 
      login: false, 
      issues: [ 
        {name: 'О нас', href:'/about_us/'},
        {
          name: 'Услуги', 
          blocks:[
            {href:'/services1/', name:'Some'},
          {href:'/services3/', name:'Some else'}, 
          {href:'/services3/', name:'Nevermind'} 
          ]
        }, 
        {name: 'Вакансии', href:'/list/' },
        {name: 'Новости', href:'/news/' },
        {
          name: 'Соглашения',
          blocks:[
            {href:'/convience1/', name:'Some'},
            {href:'/convience2/', name:'Some else'}
          ] 
        } 
      ],
      autorization: {
        signinButton: 'войти',
        signupButton: 'зарегестрироваться'
      }
    }, 
  })

block content    
  section.room-details__pictures
    +pictures-demo({ largePic: largeDemoImg, firSmallPic: smallDemoImg, secSmallPic: smallDemoImg2})
  .room-details__wrapper.room-details__wrapper_slim
    section.room-details__information
      .room-details__stickers
        h2.room-details__heading.room-details__heading_margin_zero Сведения о номере
        +stickers({ 
          issues: [
            {icon: 'insert_emoticon', title: 'Комфорт', subtitle: 'Шумопоглощающие стены'}, 
            {icon: 'location_city', title: 'Удобство',  subtitle: 'Окно в каждой из спален'}, 
            {icon: 'whatshot', title: 'Уют' , subtitle: 'Номер оснащён камином'}
          ] 
        })

      .room-details__diagram
        h2.room-details__heading Впечатления от номера
        +diagram({ 
          statistic: [
            {
              amount: 155, 
              name: 'Великолепно', 
              firstColor: '#FFE39C',
              secondColor: '#FFBA9C'
            }, 
            {
              amount: 60, 
              name: 'Хорошо',
              firstColor: '#6FCF97',
              secondColor: '#66D2EA'
            }, 
            {
              amount: 60, 
              name: 'Удовлетворительно',
              firstColor: '#BC9CFF',
              secondColor: '#8BA4F9'
            }, 
            {
              amount: 0, 
              name: 'Разочарован',
              firstColor: '#919191',
              secondColor: '#3D4975'           
            }
          ], 
          forms: ['голос', 'голоса', 'голосов'] 
        }) 

      .room-details__reviews
      
        h2.room-details__heading Отзывы посетителей номера
        .room-details__review-container.js-room-details__review-container
          +review(reviewsData[0])
        
        .room-details__review-container.js-room-details__review-container
          +review(reviewsData[1])

      .room-details__rules
        h2.room-details__heading.room-details__heading_shift_right Правила
        +marked-list({ elements: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'] })

      .room-details__cancel-rules
        h2.room-details__heading Отмена 
        p.room-details__font Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

    section.room-details__booking 
      +room-preview({
        number: 888, 
        category: 'люкс', 
        price: 9990, 
        servDesc: 'Сбор за услуги, Сбор за дополнительные услуги', 
        servPrice: '-2179, 300',
        counter: { 
          textfield: {
            label: 'Гости', 
            placeholder: 'Сколько гостей', 
          },
          items:[ 
              {name: "взрослые", min: "0", max: "5", concat: true, init: 1 }, 
              {name: "дети", nameForms:"гость, гостя, гостей", min: "0", max: "5", init: 2}, 
              {name: "младенцы", nameForms: "младенец, младенца, младенцев", min: "0" , max: "5"} 
          ],
          displayButtons: true,
          deleteButton: {text: 'очистить', isHighlight: true}, 
          confirmButton: {text: 'подтвердить', isHighlight: true},
        },
        datePicker: { 
          initArrive: '4d', 
          initDeparture: '8d', 
          textfields: [ {placeholder: "ДД.ММ.ГГГГ", label:"прибытие"},{placeholder: "ДД.ММ.ГГГГ", label:"выезд"} ] 
        },
        buttonText: 'забронировать',
        day_local: 'суток', 
        perDay_local:  'в сутки', 
        total_local: 'Итого',
        discount_local: 'скидка'
      })  

block footer
  +footer(
    {
      info: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', 
      offerHeading: 'Подписка', offerText: 'Получайте специальные предложения и новости сервиса', 
      refs: [
        {caption:'Навигация', 
        links:[
          {href: '/about/',desc: 'О нас'},
          {href: '/news/',desc: 'Новости'},
          {href: '/support/',desc: 'Служба поддержки'},
          {href: '/services/',desc: 'Услуги'} 
        ]}, 
        {caption:'О нас', 
        links:[
          {href: '/about_service/',desc: 'О сервисе'},
          {href: '/team/',desc: 'Наша команда'},
          {href: 'list/',desc: 'Вакансии'},
          {href: '/investors/',desc: 'Инвесторы'} 
        ]}, 
        {caption:'Служба поддержки', 
        links:[
          {href: '/convience/',desc: 'Соглашения'},
          {href: '/comm/',desc: 'Сообщества'},
          {href: '/connection/',desc: 'Связь с нами'}
        ] } 
      ]
    }
  )

block cellar  
  +cellar(
    { 
      text: 'Copyright © 2018 Toxin отель. Все права зачищены.', 
      links: [
        {link: 'https://twitter.com/', class: 'fa-twitter'}, 
        {link:'https://www.facebook.com/', class: 'fa-facebook-square'}, 
        {link:'https://www.instagram.com/', class: 'fa-instagram'}
      ]  
    }
  )

block script
