@import '../../assets/styles/mixin-font';
@import '../../assets/styles/variables';
@import '../../layout/layout-for-hotel.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/cellar/cellar.scss';
@import '../../blocks/pictures-demo/pictures-demo.scss';
@import '../../blocks/diagram/diagram.scss';
@import '../../blocks/room-preview/room-preview.scss';
@import '../../blocks/stickers/stickers.scss';
@import '../../blocks/review/review.scss';
@import '../../blocks/marked-list/marked-list.scss';

.content {
  padding-bottom: 60px;
  background-color: white;

  &__wrapper {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0;
  }

  &__wrapper_slim {
    max-width: 1180px;
    padding: 0 10px;
  }

  &__header {
    margin: 0 0 20px;
    @include default-font(
      $main-color_darkest,
      $size-larger,
      $size-largest,
      $weight: 700
    );

    &_margin_zero {
      margin: 0;
    }

    &_shift_right {
      padding-left: 21px;
    }
  }

  &__font {
    @include default-font($line: $size-largest);

    margin: 0;
  }

  &__pictures {
    padding-bottom: 70px;
  }

  &__information {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 710px;
  }

  &__reviews {
    margin-top: 13px;
    margin-bottom: 10px;
  }

  &__cancel-rules {
    max-width: 345px;
    padding-right: 5px;
    text-align: left;
  }
}

.footer-container {
  border-top: 2px solid rgba(31, 32, 65, 0.15);
}

@media (max-width: $breakpoint-large) {
  .content {
    &__wrapper_slim {
      justify-content: stretch;
    }

    &__information {
      justify-content: space-evenly;
      max-width: none;
    }

    &__reviews {
      max-width: 700px;
      margin: 50px 100px;
    }

    &__booking {
      margin: 20px auto;
    }
  }
}

@media (max-width: $breakpoint-middle) {
  .content {
    &__reviews {
      max-width: 700px;
      margin: 50px 0;
    }

    &__stickers {
      margin: 0 0 20px;

      & .content__header {
        text-align: center;
      }
    }

    &__diagram {
      margin: 0 0 20px;

      & .content__header {
        text-align: center;
      }
    }

    &__rules {
      margin-right: auto;
      margin-bottom: 15px;
    }

    &__cancel-rules {
      margin-right: auto;
      margin-bottom: 15px;
    }
  }
}
