@import "../../layout/layout-for-hotel.scss";
@import "../../includes/Articles/Header/Header.scss";
@import "../../includes/Articles/Footer/Footer.scss";
@import "../../includes/Articles/Сellar/Сellar.scss";
@import "../../includes/Articles/Pictures-demo/Pictures-demo.scss";
@import "../../includes/Articles/Diogram/Diogram.scss";
@import "../../includes/Articles/Number-booker/Number-booker.scss";
@import "../../includes/Figures/Stickers/Stickers.scss";
@import "../../includes/Articles/Review-shape/Review-shape.scss";
@import "../../includes/Checkboxes/Bullet/Bullet.scss";
.content-container{
    & .wrapper{
        position: static
    };
}
.section-header{
    margin:0 0 20px;
    color: rgba(31, 32, 65, 1);
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
};
.default-font{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
    margin: 0;
}
.content-container{
    padding-bottom: 60px;
    background-color: white;
    & .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    & .pictures{
        width: 100%;
        min-height: 485px;
        padding-bottom: 70px;
    }
    & .information{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 710px;
    }
    & .reviews-container{
        margin-top: 13px;
        margin-bottom: 8px;
    }
    & .bullets-container{
        & .section-header{
            padding-left: 21px;
            line-height: 20px;
        }
    }
    & .cancel-container{
        max-width: 341px;
        padding-right: 8px;
        text-align: left;
    }
}
.footer-container{
    border-top: 2px solid rgba(31, 32, 65, 0.15);
}
