@import "../../layout/layout-for-hotel.scss";
@import "../../includes/Blocks/Header/Header.scss";
@import "../../includes/Blocks/Footer/Footer.scss";
@import "../../includes/Blocks/Сellar/Сellar.scss";
@import "../../includes/Blocks/Picture-demonstration/Picture-demonstration.scss";
@import "../../includes/Blocks/Number-booker/Number-booker.scss";
@import "../../static/Icons/Sticker.scss";
@import "../../includes/Blocks/Diogram/Diogram.scss";
@import "../../includes/Review-shape/Review-shape.scss";
@import "../../includes/Checkbox/Bullet/Bullet.scss";

h2{
    margin:0 0 20px;
    color: rgba(31, 32, 65, 1);
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
};
p{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
    margin: 0;
}
.content-container{
    padding-bottom: 62px;
    background-color: white;
    &>.wrapper{
        width: 100%;
        max-width: 1440px;
    }
    & .maintance{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 70px;
    }
    & .information{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 710px;
    }
    & .stickers-container{
        max-width:280px;
    }
    & .reviews-container{
        margin-top: 13px;
        margin-bottom: 11px;
    }
    & .bullets-container{
        & h2{
            padding-left: 21px;
            line-height: 20px;
        }
    }
    & .cancel-container{
        max-width: 341px;
        padding-right: 8px;
        text-align: left;
        & h2{
            line-height: 20px;
        }
    }
}
.footer-container{
    border-top: 2px solid rgba(31, 32, 65, 0.15);
}
