@import "./Header__menu/Header__menu.scss";
@import "./Header__burger/Header__burger.scss";
@import "../../../utils/fonts/Montserrat.scss";

.header{
    background-color: white;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media(max-width: 600px) {
        padding: 10px 10px;
        & .header__burger{
            display: inline;
        }
    }
    &__sign{
        flex-shrink: 0;
        &>*{
            vertical-align: middle;
            &:last-child{
                margin-left: 10px;
            }
        }
    }
}
