include ./Footer__block_content_refs/Footer__block_content_refs.pug
include ../../Inputs/Field-with-arrow/Field-with-arrow.pug
mixin Footer(info, ...refs)
    .footer 
        div(class="footer__block footer__block_width_wide")
            div(class="footer__logo")
                include ../../../static/Images/logo.img_color.svg
                include ../../../static/Images/TOXIN.svg
            div 
                p #{info} 
        each val in refs
            +Footer__block_content_refs(val)
        div(class="footer__block footer__block_width_wide footer_block_content_subscribe")
            h3 подписка
            p Получайте специальные предложения и новости сервиса
            +Field-with-arrow('', 'Email', '', '')





