@import '../authorization-panel/authorization-panel';

@import '../arrow/arrow.scss';
@import '../../scss/mixin-montserrat-font';

.menu {
  $block: &;

  margin-left: auto;
  @media (max-width: $breakpoint-middle) {
    visibility: hidden;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    @media (max-width: $breakpoint-middle) {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 100;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 5px;
      background-color: white;
      border: 3px solid $bright-color;
    }
  }

  &__element {
    position: relative;
    max-height: 18px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    @include montserrat-font($color: $main-color_lighter);

    @media (max-width: $breakpoint-large) {
      padding: 0 5px;
    }

    @media (max-width: $breakpoint-middle) {
      max-height: 45px;
      margin: 10px 0;
      font-size: 24px;
      vertical-align: middle;
    }
  }

  &__arrow {
    display: inline-block;
    width: 25px;
    height: 100%;
    line-height: 20px;
    vertical-align: top;
    @media (max-width: $breakpoint-middle) {
      vertical-align: middle;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    @include montserrat-font(
      $color: $main-color_lighter,
      $line: $size-middle + 3
    );

    &_active {
      color: $main-color;
    }

    &:hover {
      color: $main-color;
    }

    @media (max-width: $breakpoint-middle) {
      font-size: 24px;
      line-height: 45px;
      vertical-align: middle;
    }
  }

  &__submenu {
    position: absolute;
    top: 110%;
    left: 0;
    display: none;
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    border: 2px solid $main-color_lightest;

    &_active {
      z-index: 100;
      display: block;
    }

    & #{$block}__element {
      max-height: 45px;
      padding: 0;
      border-radius: 0;
    }

    & #{$block}__link {
      display: inline-block;
      width: 100%;
      font-size: 24px;
      line-height: 45px;
    }
  }

  &__login {
    margin: 0 10px;
    padding-left: 20px;
    border-left: 1px solid $main-color_lightest;
  }

  &_expanded {
    @media (max-width: $breakpoint-middle) {
      visibility: visible;
    }
  }
}
