include ../../Inputs/TextField/TextField.pug
include ../../Checkbox/Buttons/Buttons.pug
include ../../Inputs/Date-picker/Date-picker.pug
include ../../Inputs/WithDropdown/WithDropdown.pug
include ../../Buttons/Button_rounded/ButtonWithArrow/ButtonWithArrow.pug
include ../../Inputs/Mask_d-m-y/Mask_d-m-y.pug
include ../../Checkbox/Buttons_tumbler/Buttons_tumbler.pug
include ../../Buttons/Button_rounded/Button_rounded.pug

div(class="NumberRegistrationCont")
    h1(style="max-width=320px") Регистрация аккаунта
    form(name="NumberRegistration")
        div(style="margin-top:20px;")
            +TextField('', 'Имя', '')
        div(style="margin-bottom: 10px;")
            +TextField('', 'Фамилия', '')
        div(style="margin-bottom:27.5px;margin-top: 15px")
            +Buttons('gender', {id:'genderMan', name:'Мужчина', checked:true},{id:'genderFem', name:'Женщина'} )
        div 
            +Mask_d-m-y('ДАТА РОЖДЕНИЯ', "ДД.ММ.ГГГГ", '')
        div(style="margin-bottom: 10px;")
            +TextField('данные для входа в сервис', 'Email', '')
            +TextField('', 'Пароль', '')
        div(style="margin-bottom:20px")
            +Buttons_tumbler('', {id:'allowOfferts', name:'Получать спецпредложения'})
        div(style="margin-bottom: 30px;")
            +ButtonWithArrow('Перейти к оплате')
        div(class="NumberRegistrationSubscribe" style="display:flex; justify-content: space-between")
            p Уже есть аккаунт на Toxin
            +Button_rounded('войти', 'empty')



