.Bullet__cont{

    margin-bottom: 10px;
}
.Bullet__img{
    width: 20px;
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;

}
.Bullet__desc{
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.75);
    margin: 0px;
    display: inline-block;
    max-width: 240px;
    vertical-align: top;
    line-height: 24px;
}