@import '../double-date-picker/double-date-picker.scss';
@import '../dropdown/dropdown.scss';
@import '../button/button.scss';
@import '../../scss/mixin-default-font';

.room-preview {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 380px;
  padding: 40px 29px 29px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(151, 125, 125, 0.2);
  @include default-font($line: $default-line, $color: $main-color);

  @media (max-width: $breakpoint-small) {
    padding: 20px;
  }

  &__font {
    &_color_black {
      color: $main-color_darkest;
    }

    &_color_grey {
      color: $main-color_lighter;
    }

    &_color_purple {
      color: $highlight-color;
    }

    &_size_large {
      font-size: $size-largest;
      line-height: $size-largest + 5;
    }

    &_size_middle {
      font-size: $size-middle;
      line-height: $default-line;
    }

    &_size_small {
      font-size: $size-small;
      line-height: $default-line;
    }

    &_uppercase {
      text-transform: uppercase;
    }
  }

  &__information {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 30px;
    margin-bottom: 20px;
  }

  &__price-info {
    display: inline-block;
    line-height: 20px;
  }

  &__calendar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  &__counter {
    margin-bottom: 19px;
  }

  &__rent-calculation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 1px;
    line-height: $default-line;
  }

  &__rent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: $size-largest;
  }

  &__services {
    flex-direction: column;
    width: 100%;
    margin: 10px 0 0;
    padding: 0;
  }

  &__service {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 24px;
    margin-bottom: 12px;
    line-height: $default-line;
    list-style-type: none;
  }

  &__service-desc {
    display: inline-block;
    flex-shrink: 2;
    align-self: center;
    width: 220px;
    @media (max-width: $breakpoint-small) {
      display: inline-block;
      align-self: center;
      width: 200px;
    }
  }

  &__service-price {
    padding-left: 5px;
    line-height: 24px;
  }

  &__sign_i {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-right: auto;
    color: $main-color_lightest;
    font-weight: 700;
    font-size: $size-small;
    line-height: $size-small + 8;
    text-align: center;
    border: 1px solid $main-color_lightest;
    border-radius: 50%;
  }

  &__total {
    display: flex;
    min-width: 329px;
    margin: 30px 0 21px;
    font-size: $size-larger;
    line-height: $size-largest;
    visibility: hidden;
    @media (max-width: $breakpoint-small) {
      min-width: 0;
      max-width: 290px;
    }

    &_shown {
      visibility: visible;
    }
  }

  &__total-filler {
    flex-grow: 1;
    align-self: flex-end;
    box-sizing: border-box;
    max-height: 1px;
    margin-bottom: 4px;
    border: 1px dashed $main-color_lightest;
  }

  &__button-cont {
    width: 100%;
    height: 44px;
    margin: auto;
  }
}
