mixin Mask_d-m-y(label, placeholder, describe)

    div(class=`mask_d-m-y_cont`)
        
        label(style="font-weight:bold") 
            h3 #{label}
            div
                input(class="date mask_d-m-y_cont_value" placeholder=`${placeholder}`) 
        p(class="mask_d-m-y_cont_describe") #{describe}
        