.mask_d-m-y_cont{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14.5px;
    width: 320px;
    position: relative;
    margin-bottom: 2rem;
};

.mask_d-m-y_cont_describe{
    color: rgba(31, 32, 65, 0.5);
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
};
.mask_d-m-y_cont_value{
    width: 100%;
    height: 44px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
    margin-top: 5px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Montserrat';
    transition-duration: 0.7s;
    &::placeholder{
        color: rgba(31, 32, 65, 0.25);
    }
}
label{
    display: block;
}