.mask_d-m-y_cont_valueactive{
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    border: 1px solid rgba(31, 32, 65, 0.5);
    transition-duration: 0.7s;
    &::placeholder{
        color: rgba(31, 32, 65, 0.75);
    }
    
}
