include ../textfield/textfield.pug
include ../date-mask/date-mask.pug
include ../tumblers/tumblers.pug
include ../radios/radios.pug
include ../button/button.pug
mixin registration({ header='Регистрация аккаунта', subscription = 'Уже есть аккаунт на Toxin'}={})
  article(class="registration")
    h1.registration__header #{header}
    form(name="registration" class="registration__form")
      div(class="registration__data-name")
        +textfield({ placeholder: 'Имя'})
      div(class="registration__data-name")
        +textfield({ placeholder: 'Фамилия'})
      div(class="registration__data-sex")
        +radios({ name: 'sex', radios: [ {value: "man", describe:'Мужчина', checked:true},{value: "women", describe:'Женщина'} ] } )
      
      div(class="registration__data-birthday")
        +date-mask({label: 'дата рождения', placeholder: "ДД.ММ.ГГГГ"})

      div(class="registration__data-email")
        +textfield({label: 'данные для входа в сервис', placeholder: 'Email',  type: "email"})
      div(class="registration__data-password")
        +textfield({placeholder: 'Пароль', type: "password"})
      div(class="registration__data-offer")
        +tumblers({issues: [ {value: 'agreement', name:'registration-allow-offers', desc:'Получать спецпредложения'} ] })

      div(class="registration__button")
        +button({text: 'зарегестрироваться', isHighlight: true, withArrow: true, type: 'submit'})
    div(class="registration__entry")
      p.registration__text #{subscription}
      div(class="registration__button")
        +button({ text:'войти' })



