extends ./layout/layout-for-hotel.pug
block variables
block head
    title UI-kit, WebsitePages and Slider
block header 
    div.nav-panel
        div.js-switcher.ui-button UI-kit
        div.js-switcher.site-pages-button Pages
block content 
    section.section.ui-demonstrate 
        include ./UI-kit/UI-kit.pug 
    section(class="section links-demonstrate")  
        div.site-page-filler
            a(href="./LandingPage.html") Landing Page
        div.site-page-filler   
            a(href="./SearchRoom.html") SearchRoom
        div.site-page-filler
            a(href="./RoomDetails.html") Room Details 
        div.site-page-filler
            a(href="./Registration.html") Registration  
        div.site-page-filler 
            a(href="./Login.html") Sign In  
        div.site-page-filler
block script
