extends ./layout/layout-for-hotel.pug

block variables

block head
  title UI-kit, WebsitePages and Slider

block header 

block content 
  section.section.js-section.links-demonstrate
    div.site-page-filler
      a(href = "./UI-kit.html") UI-kit
    div.site-page-filler
        a(href = "./LandingPage.html") Landing Page
    div.site-page-filler   
        a(href = "./SearchRoom.html") SearchRoom
    div.site-page-filler
        a(href = "./RoomDetails.html") Room Details 
    div.site-page-filler
        a(href = "./Registration.html") Registration  
    div.site-page-filler 
        a(href = "./Login.html") Sign In  
    
block script