@import './layout/layout-for-hotel.scss';
@import './assets/styles/font-faces/Montserrat.scss';
@import './UI-kit/UI-kit.scss';

body {
  position: relative;
  .header-container {
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(247, 241, 241, 1) 89%
    );
  }
  .content {
    max-width: 1490px;
    &__wrapper {
      width: 100%;
      max-width: none;
    }
  }
}
.nav-panel {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.section {
  width: 100%;
  > section {
    width: 100%;
  }
}
.ui-button,
.site-pages-button {
  position: relative;
  width: 32%;
  min-width: 150px;
  height: 50px;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 700;
  font-size: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(247, 241, 241, 1)
  );
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 1px 1px 0.05em rgba(0, 0, 0, 0.4);
  cursor: pointer;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  user-select: none;

  &:hover {
    box-shadow: 0 2px 3px 1px rgba(34, 60, 80, 0.4);
  }
  &:active {
    top: 1px;
    color: rgba(31, 32, 65, 0.25);
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
  }

  &.actived {
    color: white;
    background: linear-gradient(
      to top,
      rgba(139, 164, 249, 1),
      rgba(188, 156, 255, 1)
    );
    box-shadow: 0 -3px 8px 7px rgba(34, 60, 80, 0.12) inset;
    cursor: auto;
    &:hover {
      box-shadow: 0 -3px 8px 7px rgba(34, 60, 80, 0.12) inset;
    }
    &:active {
      top: 0;
      color: white;
      box-shadow: 0 -3px 8px 7px rgba(34, 60, 80, 0.12) inset;
    }
  }
}
.links-demonstrate {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  max-width: 1160px;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 0 0 20px 20px rgba(21, 21, 34, 0.1);
}
.site-page-filler {
  width: 288px;
  height: 372px;
  margin-top: 15px;
  background: rgba(168, 159, 253, 1);
  border: 4px dashed rgba(141, 130, 235, 1);
  box-shadow: 10px 10px 20px rgba(21, 21, 34, 0.1);
  transition-duration: 0.4s;
  &:hover {
    background: rgba(168, 159, 253, 0.5);
    transition-duration: 0.4s;
  }
  a {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30% 10px 0;
    color: rgb(252, 252, 252);
    font-weight: 700;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-shadow: rgb(104, 14, 177) 1px 1px 0, rgb(104, 14, 177) -1px -1px 0,
      rgb(104, 14, 177) -1px 1px 0, rgb(104, 14, 177) 1px -1px 0;
    word-wrap: break-word;
  }
  .slider-demonstrate {
    display: none;
  }
}
