extends ./layout/layout-for-hotel.pug

block variables
  - const blockClass = 'index'

block head
  title Catalog
  
block header 

block content 
  section.section.js-section.links-demonstrate
    .site-page-filler
      a(href = './ui-kit.html') UI-kit
    .site-page-filler
      a(href = './landing.html') Landing Page
    .site-page-filler   
      a(href = './search-room.html') SearchRoom
    .site-page-filler
      a(href = './room-details.html') Room Details 
    .site-page-filler
      a(href = './registration.html') Registration  
    .site-page-filler 
      a(href = './login.html') Sign In  
    
block script
