extends ./layout/layout-for-hotel.pug

block variables
  - const blockClass = 'index'

block head
  title Catalog
  
block header 

block content 
  section.index__links-demonstrate
    .index__page-filler
      a.index__link(href = './ui-kit.html') UI-kit
    .index__page-filler
      a.index__link(href = './landing.html') Landing Page
    .index__page-filler   
      a.index__link(href = './search-room.html') SearchRoom
    .index__page-filler
      a.index__link(href = './room-details.html') Room Details 
    .index__page-filler
      a.index__link(href = './registration.html') Registration  
    .index__page-filler 
      a.index__link(href = './login.html') Sign In  
    
block script
