extends ./layout/layout-for-hotel.pug

block variables
  - const blockClass = 'index'

block head
  title Catalog
  
block header 

block content 
  section.section.js-section.links-demonstrate
    .site-page-filler
      a(href = './UI-kit.html') UI-kit
    .site-page-filler
      a(href = './LandingPage.html') Landing Page
    .site-page-filler   
      a(href = './SearchRoom.html') SearchRoom
    .site-page-filler
      a(href = './RoomDetails.html') Room Details 
    .site-page-filler
      a(href = './Registration.html') Registration  
    .site-page-filler 
      a(href = './Login.html') Sign In  
    
block script
