@import './variables';
@import './font-faces/Montserrat.scss';

@mixin default-font(
  $color: '',
  $size: '',
  $line: '',
  $weight: '',
  $decor: '',
  $transform: ''
) {
  @if $color != '' {
    color: $color;
  }

  @if $size != '' {
    font-size: $size;
  }

  @if $line != '' {
    line-height: $line;
  }

  @if $weight != '' {
    font-weight: $weight;
  }

  @if $decor != '' {
    text-decoration: $decor;
  }

  @if $transform != '' {
    text-transform: $transform;
  }

  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
