$main-color: rgba(31, 32, 65, 0.75);
$main-color_lighter: rgba(31, 32, 65, 0.5);
$main-color_lightest: rgba(31, 32, 65, 0.25);
$main-color_darkest: rgba(31, 32, 65, 1);

$light-color: rgb(255, 255, 255);

$bright-color: rgba(188, 156, 255, 1);
$bright-color_skew: rgba(139, 164, 249, 1);
$bright-color_depr: rgba(188, 156, 255, 0.5);
$bright-color_skew_depr: rgba(139, 164, 249, 0.5);

$size-small: 12px;
$size-middle: 14px;
$size-larger: 19px;
$size-largest: 24px;

$default-line: 18px;

$breakpoint-large: 1160px;
$breakpoint-middle: 850px;
$breakpoint-small: 550px;

$gradient_purple: linear-gradient(
  180deg,
  $bright-color 0%,
  $bright-color_skew 100%
);

$gradient_purple_depr: linear-gradient(
  180deg,
  $bright-color_depr 0%,
  $bright-color_skew_depr 100%
);

$gradient_green: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

$gradient_dark: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.5) 0%,
  rgba(0, 0, 0, 0) 99.99%,
  rgba(255, 255, 255, 0) 100%
);
