@import '../font-faces/Montserrat.scss';
.font-icon__container{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
};
.font-icon__tag{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    opacity: 0.25;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 30px;
    font-weight: 400;
};
.font-icon__text{
    vertical-align: middle;
    display: inline-block;
    width: 377px;
    margin: 0;
    color:#1F2041;
};
