@import '../../../assets/styles/font-faces/Montserrat.scss';
.font-icon__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.font-icon__tag {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: top;
  opacity: 0.25;
}
.font-icon__text {
  display: inline-block;
  width: 377px;
  margin: 0;
  color: #1f2041;
  vertical-align: middle;
}
