@import '../menu/menu.scss';
@import '../burger/burger.scss';
@import '../../assets/font-faces/Montserrat.scss';

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: transparent;
  @media (max-width: 650px) {
    padding: 10px 10px;
  }
  &__sign {
    flex-shrink: 0;
  }
  &__logo {
    display: inline-block;
    max-height: 40px;
    vertical-align: middle;
  }
  &__brand {
    display: inline-block;
    max-height: 13px;
    margin-left: 12.5px;
    vertical-align: middle;
  }
}
