include ../menu/menu.pug

mixin header({ menu = { }, indexHref = ''})
  .js-header.header
    #{indexHref ? 'a' : 'span'}.header__sign(href = indexHref ? indexHref : false, rel = indexHref ? 'first' : false)
      span.header__logo
        include ./images/logo-icon-color.svg
      span.header__brand
        include ./images/logo-text.svg
    +menu(menu)
    include ../burger/burger.pug
