include ../menu/menu.pug
mixin header({ menu }={})
  div.js-header.header
    div(class="header__sign")
      span.header__logo
        include ../../static/Images/logo.img_color.svg
      span.header__brand
        include ../../static/Images/TOXIN.svg
    +menu(menu)
    include ../burger/burger.pug