include ../menu/menu.pug
mixin header({ menu } = { })
  .js-header.header
    .header__sign
      span.header__logo
        include ../../assets/images/logo.img_color.svg
      span.header__brand
        include ../../assets/images/TOXIN.svg
    +menu(menu)
    include ../burger/burger.pug
