include ../menu/menu.pug
mixin Header(login, ...issues)
    div.js-header.header
        div(class="header__sign")
            span.header__logo
                include ../../static/Images/logo.img_color.svg
            span.header__brand
                include ../../static/Images/TOXIN.svg
        +Menu(login, issues)
        include ../burger/burger.pug