mixin Bullets(...contents)
    ul.bullets
        each desc in contents
            li.bullets__item
                span.bullets__img   
                    include ../../../static/Images/Ellipse.svg
                p.bullets__desc #{desc} 