include ../double-date-picker/double-date-picker.pug
include ../input-with-counter/input-with-counter.pug
include ../button/button.pug

mixin room-finder({ header = 'We will find rooms according to your wishes', datePicker = { }, counter = { }, buttonText = 'find a number' } = { })
  article.js-room-finder.room-finder
    h1.room-finder__header #{header}
    form.room-finder__form(name = 'room-finder', action = '')
      .room-finder__container.room-finder__container_for_calendar
        +double-date-picker( datePicker )
      .room-finder__container.room-finder__container_for_input
        +inputs-with-counter( counter )
      .room-finder__submit-button
        +button({ text: buttonText, isHighlight: true, withArrow: true, type: 'submit' })
