.pages-switcher.js-pages-switcher
    div.pages-switcher__cell-container.js-pages-switcher__cell-container
    span.pages-switcher__arrow.js-pages-switcher__arrow(tabindex=0)
        include ../../static/Icons/arrow-right_blue.pug
    p.pages-switcher__text
