@import "../utils/fonts/Montserrat.scss";
@import "../utils/fonts/Quicksand.scss";
@import "../utils/fonts/OpenSans.scss";
@import "../utils/fonts/MaterialIcons.scss";

html{
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: rgba(31, 32, 65, 0.75);
    background-color: #F4F4F6;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.header-container{
    width: 100%;
    padding: 15px 0;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    position: relative;
    z-index: 10;
        @media(max-width: 1160px){
        padding: 10px;
    }
}
.content-container{
    max-width: 1440px;
    margin: auto;
    position: relative;
    z-index: 9;
}
.footer-container{
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    position: relative;
    z-index: 10;
    @media(max-width: 1160px){
        padding-left: 10px;
    }
}
.cellar-container{
    width: 100%;
    border-top: 1px solid rgba(31, 32, 65, 0.10);
    background-color: white;
    position: relative;
    z-index: 10;
    @media(max-width: 1160px){
        padding-left: 10px;
    }
}
.wrapper{
    max-width: 1160px;
    margin: auto;
}
.FormElementsWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: stretch;
    z-index: 2;
    flex-wrap: wrap;
}

button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  textarea:focus, input:focus
{
  outline: none;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
  transition-duration: 0.7s;
  &::placeholder{
      color: rgba(31, 32, 65, 0.75);
      transition-duration: 0.7s;
  }
}
// input:hover,
// textarea:hover{
//     line-height: 24px;
//     color: rgba(31, 32, 65, 0.75);
//     border: 1px solid rgba(31, 32, 65, 0.5);
//     transition-duration: 0.7s;
//     &::placeholder{
//         color: rgba(31, 32, 65, 0.75);
//         transition-duration: 0.7s;
      
//     }
// }