@import '../scss/mixin-montserrat-font';

html {
  @include montserrat-font();

  color: $main-color;
  font-size: $size-small;
  background-color: #f4f4f6;
}

body,
html {
  margin: 0;
  padding: 0;
}
