include ../../Inputs/Date-range_double/Date-range_double.pug
include ../../Inputs/Inputs-with-counter/Inputs-with-counter.pug
include ../../Buttons/Button_with_arrow/Button_with_arrow.pug

div.booker
    div.booker__info
        span
            h3 № 
            h2.booker__number
            h5.booker__category 
        span
            h4.booker__price
            p в сутки
    form(class="booker__form" name="booker")
        div.booker__calendar
            +Date-range_double([ {placeholder: "ДД.ММ.ГГГГ", label:"прибытие", id:"finder_arrival"},{placeholder: "ДД.ММ.ГГГГ", label:"выезд", id:"finder_departure"} ])
        div.booker__counter
            +Inputs-with-counter(false, 'Гости', 'Сколько гостей', '', {name: "взрослые", min: "0", max: "5"}, {name: "дети", min: "0", max: "5"}, {name: "младенцы", min: "0", max: "5"} )
    div.booker__compute
        div.booker__rent
            span    
                p.booker__price 
                p &nbsp;x&nbsp;
                p.booker__amount
            p.booker__rent-total
        div.booker__total
            h2 Итого
            span
            h2 
    +Button_with_arrow('забронировать')

