@import "../../../utils/fonts/OpenSans.scss";
@import "../../../utils/fonts/Montserrat.scss";
@import "../../Inputs/Date-range_double/Date-range_double.scss";
@import "../../Inputs/Inputs-with-counter/Inputs-with-counter.scss";
@import "../../Buttons/Button_with_arrow/Button_with_arrow.scss";


.booker{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 41px 30px 30px;
    max-width: 380px;
    &>*{
        width: 320px;
        margin: auto;
    }
    &__info{
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 19px;
        & h3{
            display: inline;
            color: rgba(31, 32, 65, 1);
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            margin: 0;
            padding: 0;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
        };
        & p{
            font-size: 12px;
            line-height: 18px;
            display: inline;
            color: rgba(31, 32, 65, .5);
        }
    }
    &__number{
        display: inline;
        color: rgba(31, 32, 65, 1);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        margin: 0;
        padding: 0;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
    }
    &__price{
        display: inline;
        color: rgba(31, 32, 65, .5);
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin: 0;
        padding: 0;
    }
    &__category{
        display: inline;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: #BC9CFF;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        margin: 0;
        padding: 0;
    }
    &__calendar{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__counter{
        margin-bottom: 20.5px;
    }
    &__compute{
        & p:not(.booker__sign_i){
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            display: inline-block;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.75);
            text-decoration: none;
            vertical-align: top; 
            font-weight: 400;
        }
    }
    &__rent{
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
        
        margin-bottom: 16px;
    }
    &__service{
        display: flex; 
        justify-content: space-between;
        margin-bottom: 16px;
        & p{
            &:first-child{
                width: 215px;
            }
        };
        &:last-child{
            color: black;
        }
    }
    &__sign_i{
        line-height: 18px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 12px;
        border: 1px solid rgba(31, 32, 65, 0.25); 
        width: 20px;
        text-align:center; 
        height: 20px; 
        font-weight: 700; 
        border-radius:50%;
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.25) ;
        margin: 0;
        display: inline-block;
    }
    &__total{
        display: flex; 
        margin: 30px 0 20px;
        min-width: 329px;
        & h2{
            font-family: Montserrat,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 19px;
            margin: 0;
            padding: 0;
            color: #1F2041;
        }
        & span{
            border: 1px dashed rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            max-height: 1px;
            flex-grow: 1;
            align-self: flex-end;
        }
    }
}
