include ../../text-field/_with/text-field_with_arrow-down/text-field_with_arrow-down.pug
mixin Date-picker_double(...issues)
    .date-picker_double
        div(class=`date-picker_double__container date-picker_double__container_for_first js-date-picker_double__container_for_first`)
            +Text-field_with_arrow-down(issues[0].label, issues[0].placeholder, issues[0].describe, issues[0].id)
        div(class=`date-picker_double__container date-picker_double__container_for_second js-date-picker_double__container_for_second`)
            +Text-field_with_arrow-down(issues[1].label, issues[1].placeholder, issues[1].describe, issues[1].id)